<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--设备管理信息列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content">
                  <form class="layui-form" method="post">
                      <div class="layui-inline">
                          <input type="text" name="serinput" placeholder="输入车牌号码" autocomplete="off" class="layui-input" value="" style="width: 120%">
                      </div>

                      <div class="layui-inline" style="margin-left: 35px">
                          <input type="button" class="layui-btn layui-btn-small layui-btn-normal layui-icon" lay-submit lay-filter="formsubmit" value="&#xe615;查  询"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div style="padding-top: 10px" >
          <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnClose">关闭</a>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="toolbar"></table>

  <style>
      .layui-table-cell{
          height: auto!important;
          white-space: normal;
      }
  </style>
{% include "common/jsfiles.html" %}

<script>
  var Areainfo = {{ area|safe }};
  var Orginfo = {{ organize|safe }};
  var vehtypeinfo = {{ base|safe }};

  layui.use(['element', 'layer', 'table'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer;

      $("#btnClose").click(function () {
          window.parent.layui.element.tabDelete('tabMain','Vehiclepasslog');
      });


      table.render({
          page: true,
          limit: 20,
          elem: '#datasource',
          url: "{% url 'vehiclepasslog:get_datasource' %}",
          cols: [[
              {field:'FPlate', width: '15%', title: '车牌号码', sort: true},
              {field:'FGateID__FGate', width: '15%', title: '通道名称', sort: true},
              {field:'FGateID__FAreaID', width: '15%', title: '通过区域', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FGateID__FAreaID, Areainfo)}}{% endverbatim %}</div>'},
              {field:'FGateID__FGatetype', width: '15%', title: '通道类型', sort: true, templet: '#tpGateType'},
              {field:'FGateID__FGateattr', width: '15%', title: '通道属性', sort: true, templet: '#tpGateAttr'},
              {field:'FPlate__FVehicletypeID', width: '15%', title: '车辆类型', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FPlate__FVehicletypeID, vehtypeinfo)}}{% endverbatim %}</div>'},
              {field:'FPlate__FDrivers', width: '15%', title: '驾驶人', sort: true},
              {field:'FPlate__FOrgID', width: '15%', title: '所属组织', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FPlate__FOrgID, Orginfo)}}{% endverbatim %}</div>'},
              {field:'CREATED_TIME', width: '20%', title: '通过时间', sort: true},
              {field:'FPicturepath', width: '30%', title: '抓拍图片', sort: true, templet: '#tpImg'},

          ]],
          id: 'runreload',

          done : function (res, curr, count) {
              // 处理图片弹出预览框
              if ($('.layer-photos-demo').length > 0) {
                  $('.layer-photos-demo').on('click', function () {
                      var img_src = $(this).attr('src');
                      var img_alt = $(this).attr('alt');
                      layer.photos({
                          photos: {
                              'title': '查看图片',
                              'data': [{
                                  'src': img_src,
                                  'alt': img_alt
                              }]
                          },
                          anim: 5
                      });
                  });
              }
          }

      });

      // 实现滚轮缩放图片
      $(document).on("mousewheel DOMMouseScroll", ".layui-layer-phimg img", function(e) {
          var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1 : -1)) || // chrome & ie
              (e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1 : 1)); // firefox
          var imagep = $(".layui-layer-phimg").parent().parent();
          var image = $(".layui-layer-phimg").parent();
          var h = image.height();
          var w = image.width();
          if(delta > 0) {
              h = h * 1.05;
              w = w * 1.05;
          } else if(delta < 0) {
              if(h > 100) {
                  h = h * 0.95;
                  w = w * 0.95;
              }
          }
          imagep.css("top", (window.innerHeight - h) / 2);
          imagep.css("left", (window.innerWidth - w) / 2);
          image.height(h);
          image.width(w);
          imagep.height(h);
          imagep.width(w);
      });


      //监听查询条件提交
        form.on('submit(formsubmit)', function (data) {
            var serinput = $("input[name='serinput']").val();
            //alert(serinput);
            table.reload('runreload', {where: {resultdict:{FPlate: serinput}}});

            return false;
        });


  });
</script>

  <!--显示通道类型状态模板-->
  <script type="text/html" id="tpGateType">
      {% verbatim %}
      {{#  if(d.FGateID__FGatetype == 0){ }}
      <span>入口</span>
      {{#  } else if(d.FGateID__FGatetype == 1) { }}
      <span>出口</span>
      {{#  } }}
      {% endverbatim %}
  </script>

  <!--显示通道属性模板-->
  <script type="text/html" id="tpGateAttr">
      {% verbatim %}
      {{#  if(d.FGateID__FGateattr == 0){ }}
      <span>普通通道</span>
      {{#  } else if(d.FGateID__FGateattr == 1) { }}
      <span>货运称重通道</span>
      {{#  } }}
      {% endverbatim %}
  </script>

  <!--显示图片模板-->
  <script type="text/html" id="tpImg">
      {% verbatim %}
      <div>
          <img class="layer-photos-demo" layer-scr="/media/{{ d.FPicturepath }}" src="/media/{{ d.FPicturepath }}" alt="" />
      </div>
      {% endverbatim %}
  </script>
</body>
</html>