<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--项目选择列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content">
                  <form class="layui-form" method="post">
                      <div class="layui-inline">
                          <input type="text" name="serinput" placeholder="输入项目名称" autocomplete="off" class="layui-input" value="" style="width: 120%">
                      </div>

                      <div class="layui-inline" style="margin-left: 35px">
                          <input type="button" class="layui-btn layui-btn-small layui-btn-normal layui-icon" lay-submit lay-filter="formsubmit" value="&#xe615;查  询"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="datasource"></table>

{% include "common/jsfiles.html" %}

<script>
  layui.use(['element', 'layer', 'table'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer;


      table.render({
          method: 'post',
          //page: true,
          limit: 5,
          elem: '#datasource',
          url: "{% url 'login:get_project' %}?orgid={{ orgid }}",
          cols: [[
              {field:'FPrjID', width: '15%', title: '项目编码', sort: true, fixed: 'left'},
              {field:'FPrjname', width: '35%', title: '项目名称', sort: true},
              {field:'FShortname', width: '20%', title: '项目简称', sort: true},
              {field:'FAddress', width: '35%', title: '工程地点', sort: true}
          ]],
          id: 'runreload',
          skin: 'nob'
      });

      table.on('row(datasource)', function(obj){
          var data = obj.data;

          //layer.alert(data.FID );
          parent.window.location.href="{% url 'login:login_ok' %}?prjid="+data.FID;
          var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
          parent.layer.close(index);
      });


      //监听查询条件提交
        form.on('submit(formsubmit)', function (data) {
            var serinput = $("input[name='serinput']").val();
            //alert(serinput);
            table.reload('runreload', {where: {resultdict:{FPrjname: serinput}}});

            return false;
        });

  });
</script>

</body>
</html>