@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0; font-family:"微软雅黑"; outline:none;font-size:14px; box-sizing:border-box;-webkit-box-sizing:border-box;}
div,p,h1,h2,h3,h4,a,img,ul,li,i,input,button,span{margin:0;padding:0; display:block;}
em,i{ font-style:normal;}
ul,li{ list-style:none;}
a,a:hover{ text-decoration:none;}
button,input,select{ background:none; border:none; outline:none;} 
.clear{ clear:both; height:0; overflow:hidden;}
.left{ float:left;}
.right{ float:right;}
img{border:none;}

.box{background:url(../images/bj.jpg) top center no-repeat;background-size:cover;}

.login-box{width:100%;max-width:1420px;height:700px;padding:0 10px; margin:0 auto;}
.login-box div.left,.login-box div.right{width:50%;height:100%;margin:6% 0;}
.login-box div.left{background:url(../images/hz.jpg) top left no-repeat;padding:30px; }
.login-box div.right{background:url(../images/right-bj.jpg) top left no-repeat;padding:40px 102px;}
.login-box div.right > img{margin:13% auto 25%;max-width:100%;}
.login{margin:0 0 20px 0;position:relative;height:62px;}
.login input{width:100%;height:62px;border-bottom:1px solid #dadada;color:#343434;position:relative;z-index:2;}
.login input::placeholder{color:#c1c1c1; }
.login input::-webkit-placeholder{color:#c1c1c1; }
.login input::-moz-placeholder{color:#c1c1c1; }
.login input::-ms-placeholder{color:#c1c1c1; }
.login input:focus{border-bottom:1px solid #3e5bdc;}
.login img{position:absolute;right:0;bottom:11px;width:80px;height:40px;}
.login-btn input[type="checkbox"]{appearance: none; -webkit-appearance: none;outline: none;display:none}
.login-btn input[type="checkbox"] + span{width:14px;height:14px;background:url(../images/icon01.png) right center no-repeat; float:left;margin:0 10px 0 0;}
.login-btn input[type="checkbox"]:checked + span{background:url(../images/icon01-1.png) right center no-repeat;}
.login-btn p{color:#9a9a9a;font-size:12px; float:left;line-height:14px;}
.login-btn{width:100%; display:inline-block;}
.btn{width:100%;background:#3e5bdc;line-height:48px;color:white;font-size:16px;font-weight:bold;text-align:center;border-radius:4px;margin:40px 0 90px 0;}
.login-box div.right > p{font-size:12px;color:#d1d1d1;text-align:center;}


.login input[type="text"][required]:focus + label[placeholder]:before,
.login input[type="text"][required]:valid + label[placeholder]:before,
.login input[type="password"][required]:focus + label[placeholder]:before,
.login input[type="password"][required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
  -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}

.login input[type="text"][required] + label[placeholder],
.login input[type="password"][required] + label[placeholder] {
  display: block;
  margin-top: -webkit-calc(-3em - 24px);
  margin-top: calc(-3em - 24px);
  margin-bottom: -webkit-calc((3em - 1em) + 24px);
  margin-bottom: calc((3em - 1em) + 24px);
  line-height:40px;
}
.login input[type="text"][required] + label[placeholder]:before,
.login input[type="password"][required] + label[placeholder]:before {
  content: attr(placeholder);  display: inline-block;  
  color: #c1c1c1;  font-size:12px;  
  -webkit-transition: 0.3s ease-in-out;  transition: 0.3s ease-in-out;
}








