<!DOCTYPE html>
<html>
<head>
  {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden">


<form class="layui-form layui-form-pane" accept-charset="utf-8">
    <!-- 工具栏按钮 -->
    <div style="padding-top: 1%; padding-left: 1%">
      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formsubmit" >保存</button>
      <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnC">关闭</a>
    </div>


    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">项目基本信息</li>
            <li>项目扩展信息</li>
        </ul>

        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>项目概貌</legend>
                </fieldset>
                <!-- 表单内容 -->
                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">项目编码</label>
                        <div class="layui-input-block">
                            {{ obj.FID }}
                            {{ obj.FPrjID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">项目名称</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjname }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">项目简称</label>
                        <div class="layui-input-block">
                            {{ obj.FShortname }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">管理组织</label>
                        <div class="layui-input-block">
                            {{ obj.FManageORG }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">项目经理</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjmanager }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjmanagertel }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs8">
                        <label class="layui-form-label" style="color: red">所在位置</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline">
                                <select name="provid" id="Fprovid" lay-filter="provid">
                                    <option value="">请选择省</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="cityid" id="Fcityid" lay-filter="cityid">
                                    <option value="">请选择市</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="areaid" id="Fareaid" lay-filter="areaid">
                                    <option value="">请选择县/区</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">工程类别</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjtypeID }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">工程用途</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjuseID }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">工程状态</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjstate }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">工程结构</label>
                        <div class="layui-input-block">
                            {{ obj.FStructypeID }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">工程造价</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjcost }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">建筑面积</label>
                        <div class="layui-input-block">
                            {{ obj.FArea }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label" style="color: red">项目地点</label>
                        <div class="layui-input-block">
                            {{ obj.FAddress }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">经度</label>
                        <div class="layui-input-block">
                            {{ obj.FLong }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">纬度</label>
                        <div class="layui-input-block">
                            {{ obj.FLat }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">合同签订</label>
                        <div class="layui-input-block">
                            {{ obj.FSigDate }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">合同工期</label>
                        <div class="layui-input-block">
                            {{ obj.FSigbeginDate }}
                        </div>
                    </div>

                    <div class="layui-col-xs4">
                        <label class="layui-form-label">实际工期</label>
                        <div class="layui-input-block">
                            {{ obj.FBeginDate }}
                        </div>
                    </div>
                </div>

                <fieldset class="layui-elem-field layui-field-title">
                </fieldset>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs12">
                        <label class="layui-form-label">项目概况</label>
                        <div class="layui-input-block">
                            {{ obj.FPrjdesc }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-tab-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>项目关联单位</legend>
                </fieldset>
                <!-- 表单内容 -->
                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">中标单位</label>
                        <div class="layui-input-block">
                            {{ obj.FWinOrgID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            {{ obj.FWinAtten }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            {{ obj.FWinAttenTel }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">施工单位</label>
                        <div class="layui-input-block">
                            {{ obj.FConstrOrgID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            {{ obj.FConstrAtten }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            {{ obj.FConstrAttenTel }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">建设单位</label>
                        <div class="layui-input-block">
                            {{ obj.FBuildOrgID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            {{ obj.FBuildAtten }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            {{ obj.FBuildAttenTel }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">设计单位</label>
                        <div class="layui-input-block">
                            {{ obj.FDesignOrgID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            {{ obj.FDesignAtten }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            {{ obj.FDesignAttenTel }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">监理单位</label>
                        <div class="layui-input-block">
                            {{ obj.FSuperviseOrgID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            {{ obj.FSuperviseAtten }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            {{ obj.FSuperviseAttenTel }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">业主单位</label>
                        <div class="layui-input-block">
                            {{ obj.FUserOrgID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            {{ obj.FUserAtten }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            {{ obj.FUserAttenTel }}
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10" style="padding-left: 2%">
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">咨询单位</label>
                        <div class="layui-input-block">
                            {{ obj.FConsultOrgID }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            {{ obj.FConsultAtten }}
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            {{ obj.FConsultAttenTel }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>

<style>
    .layui-unselect dl { max-height:160px; }
</style>

<!-- <script src="//res.layui.com/layui/build/layui.js" charset="utf-8"></script> -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
{% include "common/jsfiles.html" %}

<script>
    var defaults = {
        s1: 'provid',
        s2: 'cityid',
        s3: 'areaid',
        {% if action == 'insert' %}
            v1: null,
            v2: null,
            v3: null
        {% else %}
            v1: {{ Project_info.provid }},
            v2: {{ Project_info.cityid }},
            v3: {{ Project_info.areaid }}
        {% endif %}
    };
</script>

<script>
layui.use(['element','layer','form', 'laydate'], function () {
    var element = layui.element
        , layer = layui.layer
        , form = layui.form
        , laydate = layui.laydate;


    //关闭按钮
    $("#btnC").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
        parent.layer.close(index);
    });

    laydate.render({
        elem: '#id_FSigDate'
    });

    laydate.render({
        elem: '#id_FSigbeginDate',
        range: true
    });

    laydate.render({
        elem: '#id_FBeginDate',
        range: true
    });


    lay('.takeDate').each(function() {
        laydate.render({
            elem: this
        });
    });

    //监听窗口提交
    form.on('submit(formsubmit)', function (data) {
        $.ajax({
            type: "POST",
            url:  "{% url 'project:insert' %}?actype={{ action }}",
            data: data.field,
            dataType: "json",
            success: function (data) {
                if (data.result=='0') {
                    if ({{ type }} == '0') {
                        window.parent.document.getElementById('Project').contentWindow.location.reload();
                    }
                    var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
                    parent.layer.close(index);
                } else if (data.result=='1'){
                    for (item in data["msg"]){
                        if (data["msg"][item]){
                            layer.tips(data["msg"][item], $("input[name='"+item+"']"));
                        }
                    }
                } else if (data.result=='2') {
                    layer.alert('无效的执行方法');
                }
            }
        });
        return false;
    });

})
</script>

</body>
</html>
