<!DOCTYPE html>
<html>
<head>
  {% include "common/resfiles.html" %}
</head>
<body>

<form class="layui-form layui-form-pane" accept-charset="utf-8">
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formsubmit" >保存</button>
            <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnC">关闭</a>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md10">
                <div class="layui-card">
                    <div class="layui-card-header" id="divaccount">收料台账详细信息</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">磅单编号</label>
                                <div class="layui-input-block">
                                    {{ obj.FID }}
                                    {{ obj.FPoundNo }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">项目名称</label>
                                <div class="layui-input-block">
                                    {{ obj.CREATED_PRJ }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">单据来源</label>
                                <div class="layui-input-block">
                                    {{ obj.FStatus }}
                                </div>
                            </div>

                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">称毛时间</label>
                                <div class="layui-input-block">
                                    {{ obj.F1stWeighTime }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">称皮时间</label>
                                <div class="layui-input-block">
                                    {{ obj.F2ndWeighTime }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">过磅员</label>
                                <div class="layui-input-block">
                                    {{ obj.FWeighPerson }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">毛重</label>
                                <div class="layui-input-block">
                                    {{ obj.F1stWeigh }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">皮重</label>
                                <div class="layui-input-block">
                                    {{ obj.F2ndWeigh }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header" id="divPound">磅单详细信息</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">供应单位</label>
                                <div class="layui-input-block">
                                    {{ obj.FOperationalOrgID }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">车牌号码</label>
                                <div class="layui-input-block">
                                    {{ obj.FPlate }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">收料类型</label>
                                <div class="layui-input-block">
                                    {{ obj.FWorktypeID }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">库房</label>
                                <div class="layui-input-block">
                                    {{ obj.FWarehouseID }}
                                </div>
                            </div>

                            <div class="layui-col-xs8">
                                <label class="layui-form-label">使用部位</label>
                                <div class="layui-input-block">
                                    {{ obj.FUsesite }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs12">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
                                    {{ obj.FDesc }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-col-md2">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe641;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divaccount">收料台账详细信息</a></div>
                        </div>
                    </li>

                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe770;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divPound">磅单详细信息</a> </div>
                        </div>
                    </li>

                    {% if action == 'insert' %}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe770;</i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title"><a href="#divMaterAdd">磅单材料信息</a> </div>
                            </div>
                        </li>
                    {% endif %}

                    {% if action == 'update' %}
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe770;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divOrigin">原始运单信息</a> </div>
                        </div>
                    </li>

                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe62a;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divMaterial">物料明细信息</a> </div>
                        </div>
                    </li>

                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe62a;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divDetail">进出场图片</a> </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if action == 'insert' %}
            <div class="layui-row layui-col-space10" style="padding-top: 1%">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" id="divMaterAdd">磅单材料信息</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-xs4">
                                    <label class="layui-form-label" style="color: red">物料名称</label>
                                    <div class="layui-input-block">
                                        {{ objMaterForm.FMaterID }}
                                    </div>
                                </div>

                                <div class="layui-col-xs4">
                                    <label class="layui-form-label" style="color: red">计量单位</label>
                                    <div class="layui-input-block">
                                        {{ objMaterForm.FUnitID }}
                                    </div>
                                </div>
                            </div>

                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-xs4">
                                    <label class="layui-form-label" style="color: red">运单数量</label>
                                    <div class="layui-input-block">
                                        {{ objMaterForm.FWaybillQty }}
                                    </div>
                                </div>

                                <div class="layui-col-xs4">
                                    <label class="layui-form-label" style="color: red">确认数量</label>
                                    <div class="layui-input-block">
                                        {{ objMaterForm.FConfirmQty }}
                                    </div>
                                </div>

                                <div class="layui-col-xs4">
                                    <label class="layui-form-label" style="color: red">偏差数量</label>
                                    <div class="layui-input-block">
                                        {{ objMaterForm.FDeviationQty }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if action == 'update' %}
        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header" id="divOrigin">原始运单信息</div>
                    <div class="layui-card-body">
                        <div>
                            <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnOrigin">编辑</a>
                        </div>
                        <table class="layui-table" id="datasource"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header" id="divMaterial">材料明细信息</div>
                    <div class="layui-card-body">
                        <table class="layui-table" id="materdatasource"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header" id="divInPic">进场图片</div>
                    <div class="layui-card-body">
                       <div id="layer-photos" class="layer-photos">
                            <img layer-src="/media/{{ inpic1 }}" src="/media/{{ inpic1 }}" alt="图片名" style="height: 100%; width: 100%" />
                       </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header" id="divInPic">出场图片</div>
                    <div class="layui-card-body">
                        <div id="layer-photos" class="layer-photos">
                            <img layer-src="/media/{{ outpic1 }}" src="/media/{{ outpic1 }}" alt="图片名" style="height: 100%; width: 100%" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}

    </div>

</form>

<style>
    .layui-table-cell{
        height: auto!important;
        white-space: normal;
    }
</style>

{% include "common/jsfiles.html" %}

<script>
var fid = $("#id_FID").val();
var Goodstype = {{ goodstype|safe }};
var Unitinfo = {{ unit|safe }};

layui.use(['element','layer','form', 'laydate', 'table', 'util'], function () {
    var element = layui.element
        , layer = layui.layer
        , form = layui.form
        , laydate = layui.laydate
        , table = layui.table
        , util = layui.util;


    //关闭按钮
    $("#btnC").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
        parent.layer.close(index);
    });

    //编辑原始运单
    $("#btnOrigin").click(function () {
        layer.open({
            type:   2,
            title:  '上传原始运单附件',
            area: ['900px','320px'],
            fixed: false,
            content: "{% url 'recepound:show_originupload' %}?fid="+fid,
            resize: false,
            move: false,
            closeBtn: false
        });
    });

    layer.photos({
        photos: '#layer-photos'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });

    util.fixbar({
        bgcolor: '#01AAED'
    });

    laydate.render({
        elem: '#id_F1stWeighTime',
        type: 'datetime'
    });

    laydate.render({
        elem: '#id_F2ndWeighTime',
        type: 'datetime'
    });

    //初始化界面预设值
    $("#id_FStatus").val(1);
    $("#id_CREATED_PRJ").val("{{ request.session.PrjID }}");
    $("#id_FWeighPerson").val("{{ request.session.Username }}");
    form.render('select');

    if ("{{ action }}" == "insert") {
        $("#id_FPoundNo").val("{{ poundNo }}");
    }

    //数据表格渲染
    table.render({
        elem: '#datasource',
        url: "{% url 'recepound:get_originbill_datasource' %}?fid="+fid,
        cols: [[
            {field:'FWaybillNo', width: '25%', title: '原始运单编号', sort: true},
            {field:'FWaybillDate', width: '20%', title: '原始运单日期', sort: true},
            {field:'FWaybillPicpath', width: '55%', title: '原始运单图片', sort: true, templet: '#tpImg'},
        ]],

        done : function (res, curr, count) {
            // 处理图片弹出预览框
            if ($('.layer-photos-demo').length > 0) {
                $('.layer-photos-demo').on('click', function () {
                    var img_src = $(this).attr('src');
                    var img_alt = $(this).attr('alt');
                    layer.photos({
                        photos: {
                            'title': '查看图片',
                            'data': [{
                                'src': img_src,
                                'alt': img_alt
                            }]
                        },
                        anim: 5
                    });
                });
            }
        }
    });


    table.render({
        elem: '#materdatasource',
        url: "{% url 'recepound:get_material_datasource' %}?fid="+fid,
        cols: [[
            {field:'FMaterID__FMaterID', width: '20%', title: '物料编码', sort: true},
            {field:'FMaterID__FName', width: '20%', title: '物料名称', sort: true},
            {field:'FMaterID__FGoodsTypeID', width: '15%', title: '物料类型', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FMaterID__FGoodsTypeID, Goodstype)}}{% endverbatim %}</div>'},
            {field:'FMaterID__FSpec', width: '20%', title: '规格型号', sort: true},
            {field:'FMaterID__FUnitID', width: '15%', title: '计量单位', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FMaterID__FUnitID, Unitinfo)}}{% endverbatim %}</div>'},
            {field:'FMaterID__FTexture', width: '20%', title: '物料材质', sort: true},
            {field:'FWaybillQty', width: '20%', title: '运单数量', sort: true},
            {field:'FConfirmQty', width: '20%', title: '确认数量', sort: true},
            {field:'FDeviationQty', width: '20%', title: '偏差', sort: true, templet: '#tpDevQty'},
        ]],

    });

    // 实现滚轮缩放图片
    $(document).on("mousewheel DOMMouseScroll", ".layui-layer-phimg img", function(e) {
        var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1 : -1)) || // chrome & ie
            (e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1 : 1)); // firefox
        var imagep = $(".layui-layer-phimg").parent().parent();
        var image = $(".layui-layer-phimg").parent();
        var h = image.height();
        var w = image.width();
        if(delta > 0) {
            h = h * 1.05;
            w = w * 1.05;
        } else if(delta < 0) {
            if(h > 100) {
                h = h * 0.95;
                w = w * 0.95;
            }
        }
        imagep.css("top", (window.innerHeight - h) / 2);
        imagep.css("left", (window.innerWidth - w) / 2);
        image.height(h);
        image.width(w);
        imagep.height(h);
        imagep.width(w);
    });

    //监听窗口提交
    form.on('submit(formsubmit)', function (data) {
        $.ajax({
            type: "POST",
            url:  "{% url 'recepound:insert' %}?actype={{ action }}",
            data: data.field,
            dataType: "json",
            success: function (data) {
                if (data.result=='0') {
                    window.parent.document.getElementById('Recepound').contentWindow.location.reload();

                    var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
                    parent.layer.close(index);
                } else if (data.result=='1'){
                    for (item in data["msg"]){
                        if (data["msg"][item]){
                            layer.tips(data["msg"][item], $("input[name='"+item+"']"));
                        }
                    }
                } else if (data.result=='2') {
                    layer.alert('无效的执行方法');
                }
            }
        });
        return false;
    });


    $("#id_F1stWeigh").bind('input propertychange', function () {
        qty1 = $("#id_F1stWeigh").val();
        if (qty1=="") {
            qty1 = '0';
        }
        qty2 = $("#id_F2ndWeigh").val();
        if (qty2=="") {
            qty2 = '0'
        }
        qty3 = qty1 - qty2;
        $("#id_FConfirmQty").val(Number(qty3).toFixed(2))
    });

    $("#id_F2ndWeigh").bind('input propertychange', function () {
        qty1 = $("#id_F1stWeigh").val();
        if (qty1=="") {
            qty1 = '0';
        }
        qty2 = $("#id_F2ndWeigh").val();
        if (qty2=="") {
            qty2 = '0'
        }
        qty3 = qty1 - qty2;
        $("#id_FConfirmQty").val(Number(qty3).toFixed(2))
    });

    $("#id_FWaybillQty").bind('input propertychange', function () {
        qty1 = $("#id_FWaybillQty").val();
        if (qty1=="") {
            qty1 = '0';
        }
        qty2 = $("#id_FConfirmQty").val();
        if (qty2=="") {
            qty2 = '0'
        }
        qty3 = qty2 - qty1;
        $("#id_FDeviationQty").val(Number(qty3).toFixed(2))
    });

    $("#id_FConfirmQty").bind('input propertychange', function () {
        qty1 = $("#id_FWaybillQty").val();
        if (qty1=="") {
            qty1 = '0';
        }
        qty2 = $("#id_FConfirmQty").val();
        if (qty2=="") {
            qty2 = '0'
        }
        qty3 = qty2 - qty1;
        $("#id_FDeviationQty").val(Number(qty3).toFixed(2))
    });


    form.on('select(selMater)', function(data){
        //alert(data.value);
        var fid = {'fid': data.value};

        $.post("{% url 'recepound:get_unitid' %}", fid, function(d){
            if (d.result == '0'){
                //alert(d.union_id);
                $("#id_FUnitID").val(d.unitid);
                form.render('select');
            }
        }, "json" );
    });

    var setAttr = function () {
        $("input[name='F1stWeigh']").attr('readonly', 'true');
        $("input[name='F2ndWeigh']").attr('readonly', 'true');
    };

    if ("{{ action  }}" == "update") {
        setAttr();
    }

})
</script>


<!--显示状态模板-->
<script type="text/html" id="tpDevQty">
    {% verbatim %}
    {{#  if(d.FDeviationQty >= 0){ }}
    <span style="color: green">{{d.FDeviationQty}}</span>
    {{#  } else { }}
    <span style="color: red">{{d.FDeviationQty}}</span>
    {{#  } }}
    {% endverbatim %}
</script>


<!--显示图片模板-->
<script type="text/html" id="tpImg">
    {% verbatim %}
    <div>
        <img class="layer-photos-demo" layer-scr="/media/{{ d.FWaybillPicpath }}" src="/media/{{ d.FWaybillPicpath }}" alt="" />
    </div>
    {% endverbatim %}
</script>


</body>
</html>
