<!DOCTYPE html>
<html>
<head>
  {% include "common/resfiles.html" %}
</head>
<body>

<form class="layui-form layui-form-pane" accept-charset="utf-8">
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formsubmit" >保存</button>
            <a href="javascript:;" class="layui-btn layui-btn-normal" id="readID">读取身份证</a>
            <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnC">关闭</a>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md10">
                <div class="layui-card">
                    <div class="layui-card-header" id="divOrg">所属组织信息</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">所属施工队</label>
                                <div class="layui-input-block">
                                    {{ GroupForm.FTeamID }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">所属班组</label>
                                <div class="layui-input-block">
                                    {{ GroupForm.FGroup }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">班组工种</label>
                                <div class="layui-input-block">
                                    {{ GroupForm.FWorktypeID }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">人员类型</label>
                                <div class="layui-input-block">
                                    {{ obj.FType }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="layui-card">
                    <div class="layui-card-header" id="divID">人员身份信息</div>
                    <!-- 表单内容 -->
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">人员状态</label>
                                <div class="layui-input-block">
                                    {{ obj.FStatus }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">劳动合同</label>
                                <div class="layui-input-block">
                                    {{ obj.FContractState }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">操作特种设备</label>
                                <div class="layui-input-block">
                                    {{ obj.FSpecialequ }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label" style="color: red">人员姓名</label>
                                <div class="layui-input-block">
                                    {{ obj.FName }}
                                </div>
                            </div>

                            <div class="layui-col-xs8">
                                <label class="layui-form-label" style="color: red">身份证号</label>
                                <div class="layui-input-block">
                                    {{ obj.FID }}
                                    {{ obj.FIDcard }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs8">
                                <label class="layui-form-label">有效日期</label>
                                <div class="layui-input-inline">
                                    {{ obj.FIDcardbeginDate }}
                                </div>
                                <div class="layui-input-inline">
                                    {{ obj.FIDcardendDate }}
                                </div>

                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">长期有效</label>
                                <div class="layui-input-block">
                                    {{ obj.FIDcardIsIndefinite }}
                                </div>
                            </div>
                        </div>


                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    {{ obj.FSex }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">民族</label>
                                <div class="layui-input-block">
                                    {{ obj.FNation }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">籍贯</label>
                                <div class="layui-input-block">
                                    {{ obj.FNaviveplace }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">出生日期</label>
                                <div class="layui-input-block">
                                    {{ obj.FBirthday }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">家庭住址</label>
                                <div class="layui-input-block">
                                    {{ obj.FHomeaddress }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">签发机关</label>
                                <div class="layui-input-block">
                                    {{ obj.FSignorg }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-col-md2">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe641;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divOrg">组织信息</a></div>
                        </div>
                    </li>

                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe770;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divID">身份信息</a> </div>
                        </div>
                    </li>

                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe62a;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title"><a href="#divDetail">详细信息</a> </div>
                        </div>
                    </li>

                    {% if action == 'update' %}
                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe679;</i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title"><a href="#divTrain">入场安全培训</a> </div>
                            </div>
                        </li>

                        <li class="layui-timeline-item">
                            <i class="layui-icon layui-timeline-axis">&#xe656;</i>
                            <div class="layui-timeline-content layui-text">
                                <div class="layui-timeline-title"><a href="#divCertif">资格证书</a> </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header" id="divDetail">人员详细信息</div>
                    <!-- 表单内容 -->
                    <div class="layui-card-body">

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">婚姻状况</label>
                                <div class="layui-input-block">
                                    {{ obj.FMarital }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">政治面貌</label>
                                <div class="layui-input-block">
                                    {{ obj.FPolitident }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">特长</label>
                                <div class="layui-input-block">
                                    {{ obj.FSpeciality }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">文化程度</label>
                                <div class="layui-input-block">
                                    {{ obj.FLevelofedu }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">联系方式</label>
                                <div class="layui-input-block">
                                    {{ obj.FTel }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">暂住地址</label>
                                <div class="layui-input-block">
                                    {{ obj.FTempaddress }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">开户银行</label>
                                <div class="layui-input-block">
                                    {{ obj.FBank }}
                                </div>
                            </div>

                            <div class="layui-col-xs8">
                                <label class="layui-form-label">银行卡号</label>
                                <div class="layui-input-block">
                                    {{ obj.FBankaccount }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">紧急联系人</label>
                                <div class="layui-input-block">
                                    {{ obj.FEmercontact }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-block">
                                    {{ obj.FEmercontacttel }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs12">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-block">
                                    {{ obj.FDesc }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if action == 'update' %}
            <div class="layui-row layui-col-space10" style="padding-top: 1%">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" id="divTrain">入场安全培训</div>
                        <!-- 表单内容 -->
                        <div class="layui-card-body">
                            <div>
                                <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnTrain">编辑</a>
                            </div>
                            <table class="layui-table" id="datasourceTrain"></table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10" style="padding-top: 1%">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header" id="divCertif">资格证书</div>
                        <!-- 表单内容 -->
                        <div class="layui-card-body">
                            <table class="layui-table" id="datasource" lay-filter="toolbar"></table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</form>

<style>
    .layui-unselect dl { max-height:200px; }

    .layui-table-cell{
        height: auto!important;
        white-space: normal;
    }
</style>

<!-- <script src="//res.layui.com/layui/build/layui.js" charset="utf-8"></script> -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
{% include "common/jsfiles.html" %}

<script>
var Caritf = {{ certifinfo|safe }};
var fid = $("#id_FID").val();

layui.use(['element','layer','form', 'laydate', 'table', 'util'], function () {
    var element = layui.element
        , layer = layui.layer
        , form = layui.form
        , table = layui.table
        , laydate = layui.laydate
        , util = layui.util;

    //关闭按钮
    $("#btnC").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
        parent.layer.close(index);
    });


    util.fixbar({
        bgcolor: '#01AAED'
    });

    //入场安全教育按钮
    $("#btnTrain").click(function () {
        layer.open({
            type:   2,
            title:  '上传入场安全培训附件',
            area: ['900px','320px'],
            fixed: false,
            content: "{% url 'personnel:showTrain_upload' %}?fid="+fid,
            resize: false,
            move: false,
            closeBtn: false
        });
    });

    laydate.render({
        elem: '#id_FIDcardbeginDate',
        trigger: 'click'
    });

    laydate.render({
        elem: '#id_FIDcardendDate',
        trigger: 'click'
    });

    laydate.render({
        elem: '#id_FBirthday',
        trigger: 'click'
    });


    var actype = "{{ action }}";

    //监听窗口提交
    form.on('submit(formsubmit)', function (data) {
        $.ajax({
            type: "POST",
            url:  "{% url 'personnel:insert' %}?actype={{ action }}&fgroupid={{ fgroupid }}",
            data: data.field,
            dataType: "json",
            success: function (data) {
                if (data.result=='0') {
                    if (actype == 'update') {
                        window.parent.document.getElementById('Personnel').contentWindow.location.reload();
                    }

                    var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
                    parent.layer.close(index);
                } else if (data.result=='1'){
                    for (item in data["msg"]){
                        if (data["msg"][item]){
                            layer.tips(data["msg"][item], $("input[name='"+item+"']"));
                        }
                    }
                } else if (data.result=='2') {
                    layer.alert('无效的执行方法');
                }
            }
        });
        return false;
    });

    //入场安全培训table
    table.render({
        elem: '#datasourceTrain',
        url: "{% url 'personnel:get_safetrain' %}?fid="+fid,
        cols: [[
            {field:'FIsSafetrain', width: '20%', title: '是否进行安全培训', sort: true, templet: '#tpSwitch'},
            {field:'FSafetrainDate', width: '15%', title: '培训日期', sort: true},
            {field:'FSafetrainHour', width: '15%', title: '培训课时', sort: true},
            {field:'FEntranceannex', width: '50%', title: '培训记录', sort: true, templet: '#tpImgTrain'},
        ]],
        done : function (res, curr, count) {
            // 处理图片弹出预览框
            if ($('.layer-photos-demo').length > 0) {
                $('.layer-photos-demo').on('click', function () {
                    var img_src = $(this).attr('src');
                    var img_alt = $(this).attr('alt');
                    layer.photos({
                        photos: {
                            'title': '查看图片',
                            'data': [{
                                'src': img_src,
                                'alt': img_alt
                            }]
                        },
                        anim: 5
                    });
                });
            }
        }
    });


    table.render({
        elem: '#datasource',
        url: "{% url 'personnel:get_certificate' %}?fid="+fid,
        cols: [[
            {field:'FCertificateNo', width: '10%', title: '证书编号', sort: true},
            {field:'FCertitypeID', width: '10%', title: '证书类别', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FCertitypeID, Caritf)}}{% endverbatim %}</div>'},
            {field:'FSkilllevel', width: '10%', title: '技能等级', sort: true, templet: '#tpSkill'},
            {field:'FIssueOrg', width: '10%', title: '发证机关', sort: true},
            {field:'FIssueDate', width: '15%', title: '发证日期', sort: true},
            {field:'FLimitDate', width: '15%', title: '有效日期', sort: true},
            {field:'FCertiFilepath', width: '15%', title: '证书文件', sort: true, templet: '#tpImg'},
            {field:'', title: '操作', width: '15%', toolbar: '#tlbar'}
        ]],
        id: 'runreload',
        done : function (res, curr, count) {
            // 处理图片弹出预览框
            if ($('.layer-photos-demo').length > 0) {
                $('.layer-photos-demo').on('click', function () {
                    var img_src = $(this).attr('src');
                    var img_alt = $(this).attr('alt');
                    layer.photos({
                        photos: {
                            'title': '查看图片',
                            'data': [{
                                'src': img_src,
                                'alt': img_alt
                            }]
                        },
                        anim: 5
                    });
                });
            }
        }
    });

    // 实现滚轮缩放图片
    $(document).on("mousewheel DOMMouseScroll", ".layui-layer-phimg img", function(e) {
        var delta = (e.originalEvent.wheelDelta && (e.originalEvent.wheelDelta > 0 ? 1 : -1)) || // chrome & ie
            (e.originalEvent.detail && (e.originalEvent.detail > 0 ? -1 : 1)); // firefox
        var imagep = $(".layui-layer-phimg").parent().parent();
        var image = $(".layui-layer-phimg").parent();
        var h = image.height();
        var w = image.width();
        if(delta > 0) {
            h = h * 1.05;
            w = w * 1.05;
        } else if(delta < 0) {
            if(h > 100) {
                h = h * 0.95;
                w = w * 0.95;
            }
        }
        imagep.css("top", (window.innerHeight - h) / 2);
        imagep.css("left", (window.innerWidth - w) / 2);
        image.height(h);
        image.width(w);
        imagep.height(h);
        imagep.width(w);
    });


})
</script>

<!--显示图片模板-->
<script type="text/html" id="tpImg">
    {% verbatim %}
    <div>
        <img class="layer-photos-demo" layer-scr="/media/{{ d.FCertiFilepath }}" src="/media/{{ d.FCertiFilepath }}" alt="" />
    </div>
    {% endverbatim %}
</script>

<script type="text/html" id="tpImgTrain">
    {% verbatim %}
    <div>
        <img class="layer-photos-demo" layer-scr="/media/{{ d.FEntranceannex }}" src="/media/{{ d.FEntranceannex }}" alt="" />
    </div>
    {% endverbatim %}
</script>

<!--显示是否培训开关模板-->
<script type="text/html" id="tpSwitch">
    {% verbatim %}
    <input type="checkbox" name="FIsSafetrain" value="{{d.FIsSafetrain}}" lay-skin="switch" lay-text="是|否" disabled="disabled"  {{ d.FIsSafetrain == true ? 'checked' : '' }} >
    {% endverbatim %}
</script>


<!--显示技能等级模板-->
<script type="text/html" id="tpSkill">
    {% verbatim %}
        {{#  if(d.FSkilllevel == 0){ }}
            <span>初级</span>
        {{#  } else if(d.FSkilllevel == 1) { }}
            <span>中级</span>
        {{#  } else if(d.FSkilllevel == 2) { }}
            <span>高级</span>
        {{#  } else if(d.FSkilllevel == 3) { }}
            <span>特种工</span>
        {{#  } }}
    {% endverbatim %}
</script>

<!--生成操作工具栏-->
<script type="text/html" id="tlbar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="delete"><i class="fa fa-trash-o" aria-hidden="true"></i>删除</a>
    </div>
</script>

<script>
    var setattrs=function(){
        $("select[name='FTeamID']").attr('disabled', 'disabled');
        $("input[name='FGroup']").attr('readonly', 'true');
        $("select[name='FWorktypeID']").attr('disabled', 'disabled');
    };
    setattrs();
</script>

</body>
</html>
