<script type="text/javascript">
    var topanalyse = function () {
        $.post("{% url 'mainanalyse:topanalyse' %}", {}, function(data){
            $("#teamc").html(data.team_count+"<span style='font-size: 15px; color: slategray'> 支</span>");
            $("#teamhgc").html(data.teamhg_count+"<span style='font-size: 15px; color: slategray'> 支</span>");
            $("#teambhgc").html(data.teambhg_count+"<span style='font-size: 15px; color: slategray'> 支</span>");
            $("#groupc").html(data.group_count+"<span style='font-size: 15px; color: slategray'> 支</span>");
            $("#dengjic").html(data.dengji_count+"<span style='font-size: 15px; color: slategray'> 人</span>");
            $("#tuichangc").html(data.tuichang_count+"<span style='font-size: 15px; color: slategray'> 人</span>");
            $("#jinyongc").html(data.jinyong_count+"<span style='font-size: 15px; color: slategray'> 人</span>");
            $("#zsauthc").html(data.zsauth_count+"<span style='font-size: 15px; color: slategray'> 人</span>");
            $("#lsauthc").html(data.lsauth_count+"<span style='font-size: 15px; color: slategray'> 人</span>");
            $("#pedpassagec").html(data.pedpassage_count+"<span style='font-size: 15px; color: slategray'> 个</span>");
            $("#vehc").html(data.vehgate_count+"<span style='font-size: 15px; color: slategray'> 个</span>");
            $("#pedrkc").html(data.pedrk_count+"<span style='font-size: 15px; color: slategray'> 个</span>");
            $("#pedckc").html(data.pedck_count+"<span style='font-size: 15px; color: slategray'> 个</span>");
            $("#vehrkc").html(data.vehgaterk_count+"<span style='font-size: 15px; color: slategray'> 个</span>");
            $("#vehckc").html(data.vehgateck_count+"<span style='font-size: 15px; color: slategray'> 个</span>");

        }, "json");
    };

    topanalyse();

    var tongdaoliuliang = function (data) {
        var dom = document.getElementById("drawpedpassage");
        var myChart = echarts.init(dom);
        var objDate = data.FDay;
        var objRkvalue = data.FRkvalue;
        var objCkvalue = data.FCkvalue;

        option = {
            title: {
                text: '人行通道吞吐量分析',
                subtext: ''
            },

            angleAxis: [{
                type: "value",
                minInterval: 1
            }],
            radiusAxis: {
                show: true,
                type: 'category',
                data: objDate,
                z: 10
            },
            polar: {
            },
            series: [{
                type: 'bar',
                data: objRkvalue,
                coordinateSystem: 'polar',
                name: '入口流量',
                stack: 'a'
            }, {
                type: 'bar',
                data: objCkvalue,
                coordinateSystem: 'polar',
                name: '出口流量',
                stack: 'a'
            }],

            tooltip: {
                trigger: 'axis',
                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },

            legend: {
                show: true,
                top: "bottom",
                left: "left",
                data: ['入口流量','出口流量']
            }
        };
        myChart.setOption(option, true);
        //myChart.resize();
    };


    var drawPedpassageAnalyse = function () {
        $.ajax({
            type: 'POST',
            url: "{% url 'mainanalyse:pedpassageanlayse' %}",
            data: {},
            datatype: "JSON",
            success: function (data) {
                tongdaoliuliang(data);
            }
        });
    };

    drawPedpassageAnalyse();

    var drawPedpassageNew = function () {
        $.ajax({
            type: 'POST',
            url: "{% url 'mainanalyse:get_pedpassage_news' %}",
            data: {},
            datatype: "json",
            success: function (data) {
                result = JSON.parse(data);

                var str = '';
                for ( i in result){
                    str = str + "<div class='layui-row layui-col-space15' style='background-color: gainsboro'>";
                    str = str + "<div class='layui-col-md12'>";
                    str = str + "<div class='layui-card'>";
                    str = str + "<div class='layui-card-header' style='background-color: white'>";
                    str = str + "<h4>"+ result[i].FPersonName +"&nbsp["+ result[i].FGroup +"] </h4>";
                    str = str + "</div>";
                    str = str + "<div class='layui-card-body' >";
                    str = str + "<div class='layui-row layui-col-space15'>";
                    str = str + "<div class='layui-col-md3'>";
                    str = str + "<img src='/media/"+ result[i].FPhoto +"' alt='' style='width: 45px; height: 56px'  />";
                    str = str + "</div>";
                    str = str + "<div class='layui-col-md9'>";
                    str = str + "<span style='color: slategray;'>通行通道："+ result[i].FPassage +"&nbsp&nbsp["+result[i].FPassageType+"]</span> <br/>";
                    str = str + "<span style='color: slategray;'>测量温度："+ result[i].FTemperature +"</span><br/>";
                    str = str + "<span style='color: slategray;'>通行时间："+ result[i].CREATED_TIME +"</span><br/>";
                    str = str + "<span style='color: slategray;'>通行方式："+ result[i].FAuthtype +"</span><br/>";
                    str = str + "</div>";
                    str = str + "</div>";
                    str = str + "</div>";
                    $("#divPedpassage").html(str);
                }
            }
        });
    };

    drawPedpassageNew();

    var drawVehpassageNew = function () {
        $.ajax({
            type: 'POST',
            url: "{% url 'mainanalyse:get_vehpassage_news' %}",
            data: {},
            datatype: "json",
            success: function (data) {
                result = JSON.parse(data);

                var str = '';
                for ( i in result){
                    str = str + "<div class='layui-row layui-col-space15' style='background-color: gainsboro'>";
                    str = str + "<div class='layui-col-md12'>";
                    str = str + "<div class='layui-card'>";
                    str = str + "<div class='layui-card-header' style='background-color: white'>";
                    str = str + "<h4>"+ result[i].FPlate +"&nbsp["+ result[i].FVehicletype +"] </h4>";
                    str = str + "</div>";
                    str = str + "<div class='layui-card-body' >";
                    str = str + "<div class='layui-row layui-col-space15'>";
                    str = str + "<div class='layui-col-md3'>";
                    str = str + "<img src='/static/images/"+ result[i].FPhoto +"' alt='' style='width: 45px; height: 45px' />";
                    str = str + "</div>";
                    str = str + "<div class='layui-col-md9'>";
                    str = str + "<span style='color: slategray;'>通行通道："+ result[i].FGate +"&nbsp&nbsp["+result[i].FGateType+"]</span> <br/>";
                    str = str + "<span style='color: slategray;'>通行时间："+ result[i].CREATED_TIME +"</span><br/>";
                    //str = str + "<span style='color: slategray;'>通行方式："+ result[i].FAuthtype +"</span><br/>";
                    str = str + "</div>";
                    str = str + "</div>";
                    str = str + "</div>";
                    $("#divvehgate").html(str);
                }
            }
        });
    };

    drawVehpassageNew();



</script>