<div style="padding: 10px; background-color: #F2F2F2; overflow-y: scroll; height: max-content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">劳务数据分析</div>
                <div class="layui-card-body" >
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs4">
                            <div class="layui-carousel" id="worker">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/team.png" height="32" width="32" /> 入场施工队总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="teamc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/team.png" height="32" width="32" /> 合格施工队总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="teamhgc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/team.png" height="32" width="32" /> 不合格施工队总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="teambhgc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="layui-col-xs4">
                            <div class="layui-carousel" id="cargroup">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/group.png" height="32" width="32" /> 入场施工班组总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="groupc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="layui-col-xs4">
                            <div class="layui-carousel" id="carpersonel">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/gongren.png" height="32" width="32" /> 在册人员总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="dengjic" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/gongren.png" height="32" width="32" /> 退场人员总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="tuichangc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/gongren.png" height="32" width="32" /> 禁用人员总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="jinyongc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">授权数据分析</div>
                <div class="layui-card-body" >
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs12">
                            <div class="layui-carousel" id="auth">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/shouquan.png" height="32" width="32" /> 正式授权总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="zsauthc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/shouquan.png" height="32" width="32" /> 临时授权总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="lsauthc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">通道数据分析</div>
                <div class="layui-card-body" >
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs6">
                            <div class="layui-carousel" id="rxtongdao">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/rxzj.png" height="32" width="32" /> 人行通道总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="pedpassagec" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 个</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/rxzj.png" height="32" width="32" /> 人行通道入口总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="pedrkc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 个</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/rxzj.png" height="32" width="32" /> 人行通道出口总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="pedckc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 个</span></div>
                                        <br/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="layui-col-xs6">
                            <div class="layui-carousel" id="cxtongdao">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/cxzj.png" height="32" width="32" /> 车行通道总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="vehc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 个</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/cxzj.png" height="32" width="32" /> 车行通道入口总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="vehrkc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 个</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/cxzj.png" height="32" width="32" /> 车行通道出口总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="vehckc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 个</span></div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">通行最新动态</div>
                <div class="layui-card-body" style="background-color: gainsboro">
                    <div class="layui-carousel" id="pltxdt">
                        <div carousel-item>
                            <div style="overflow-y: auto; overflow-x: hidden" id="divPedpassage">

                            </div>

                            <div style="overflow-y: auto; overflow-x: hidden" id="divvehgate">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">通道吞吐量分析</div>
                <div class="layui-card-body" >
                    <div class="layui-carousel" id="tdliuliang" lay-filter="test1">
                        <div carousel-item>
                            <div>
                                <div id="drawpedpassage" style="height: 300px"></div>
                            </div>

                            <div>
                               <div id="drawvehpassage" style="height: 300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">环境监测数据分析</div>
                <div class="layui-card-body" >
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md4">
                            <select name="FDevKey" lay-filter="DevKey" id="id_DevKey" lay-verify="required">
                                <option value="">请选择监测设备</option>
                                {% for jj in envdevice %}
                                    {% if jj.DevStatus == 'true' %}
                                        <option value="{{ jj.DevKey }}">{{ jj.DevName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="layui-col-md4">
                            <label class="layui-form-label">时间范围</label>
                            <div class="layui-input-block">
                                <input type="text" name="serdate" id="id_serdate" autocomplete="off" class="layui-input" value="" style="width: 120%">
                            </div>
                        </div>

                        <div class="layui-col-md4">
                            <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnRef"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;刷新</a>
                        </div>

                    </div>

                    <div id="envanalyse" style="height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

