<div style="padding: 20px; background-color: #F2F2F2; overflow-y: scroll; height: max-content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">劳务数据分析</div>
                <div class="layui-card-body" >
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs4">
                            <div class="layui-carousel" id="worker">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/team.png" height="32" width="32" /> 入场施工队总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="teamc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/team.png" height="32" width="32" /> 合格施工队总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="teamhgc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/team.png" height="32" width="32" /> 不合格施工队总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="teambhgc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="layui-col-xs4">
                            <div class="layui-carousel" id="cargroup">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/group.png" height="32" width="32" /> 入场施工班组总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="groupc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 支</span></div>
                                        <br/>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="layui-col-xs4">
                            <div class="layui-carousel" id="carpersonel">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/gongren.png" height="32" width="32" /> 在册人员总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="dengjic" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/gongren.png" height="32" width="32" /> 退场人员总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="tuichangc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>

                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/gongren.png" height="32" width="32" /> 禁用人员总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="jinyongc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: white">授权数据分析</div>
                <div class="layui-card-body" >
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs12">
                            <div class="layui-carousel" id="auth">
                                <div carousel-item>
                                    <div>
                                        <h3>
                                            <span style="color: slategray">&nbsp;&nbsp;
                                                <img src="/static/images/team.png" height="32" width="32" /> 正式授权总数
                                            </span>
                                        </h3>

                                        <br/>
                                        <div id="zsauthc" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">--<span style="font-size: 15px; color: slategray"> 人</span></div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

