<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--安全帽规则信息列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content">
                  <form class="layui-form" method="post">
                      <div class="layui-inline">
                          <input type="text" name="serinput" placeholder="输入机械型号" autocomplete="off" class="layui-input" value="" style="width: 120%">
                      </div>

                      <div class="layui-inline" style="margin-left: 35px">
                          <input type="button" class="layui-btn layui-btn-small layui-btn-normal layui-icon" lay-submit lay-filter="formsubmit" value="&#xe615;查  询"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div style="padding-top: 10px" >
        <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnAdd">增加</a>
        <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnClose">关闭</a>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="toolbar"></table>

{% include "common/jsfiles.html" %}

<script>
  var Typeinfo = {{ base|safe }};
  var Personinfo = {{ personnel|safe }};
  var checkItem = {{ checkItem|safe }};

  layui.config({
      base: '/static/layui/ext/',   // 模块所在目录
  }).extend({
      soulTable: 'soulTable'  // 模块别名
  });

  layui.use(['element', 'layer', 'table', 'soulTable'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer
          ,soulTable = layui.soulTable;

      $("#btnClose").click(function () {
          window.parent.layui.element.tabDelete('tabMain','Menccheck');
      });

      //新增按钮事件
      $("#btnAdd").click(function () {
          parent.layer.open({
              type:   2,
              title:  '新增机械设备检查任务',
              area: ['1000px','370px'],
              fixed: false,
              content: "{% url 'menccheck:add' %}",
              resize: false,
              move: false
          });
      });

      table.render({
          elem: '#datasource',
          height: 'full-120',
          url: "{% url 'menccheck:get_datasource' %}",
          cols: [[
              {field:'FMecserialFID__FMecserialID', width: '20%', title: '机械唯一编码', sort: true, filter: true},
              {field:'FMecserialFID__FMectypeID', width: '15%', title: '机械类型', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FMecserialFID__FMectypeID, Typeinfo)}}{% endverbatim %}</div>', filter: true},
              {field:'FMecserialFID__FMecspec', width: '20%', title: '机械型号', sort: true, filter: true},
              {field:'FCheckPersonID', width: '15%', title: '检查人', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FCheckPersonID, Personinfo)}}{% endverbatim %}</div>', filter: true},
              {field:'FCheckitemID', width: '15%', title: '检查项目', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FCheckitemID, checkItem)}}{% endverbatim %}</div>', filter: true},
              {field:'FCheckresult', width: '15%', title: '检查结果', sort: true, templet: '#tpResult', filter: true},
              {field:'FCheckdate', width: '20%', title: '检查日期', sort: true, filter: true},
              {field:'', title: '操作', width: '20%', toolbar: '#tlbar', fixed: 'right'}
          ]],
          id: 'runreload'

          ,done: function () {
              soulTable.render(this)
          }
      });

      //监听查询条件提交
        form.on('submit(formsubmit)', function (data) {
            var serinput = $("input[name='serinput']").val();
            //alert(serinput);
            table.reload('runreload', {where: {resultdict:{FMecserialFID__FMecserialID: serinput}}});

            return false;
        });


      //监听工具栏按钮事件
      table.on('tool(toolbar)', function (obj) {
          var data = obj.data;           //获取当前行数据
          var layEvent = obj.event;      //获取当前行事件
          var tr = obj.tr;               //获取当前行tr的DOM数据
          var fid = {"fid":data.FID};

          switch (layEvent){
              case 'edit' :              //编辑按钮事件
                  parent.layer.open({
                      type:   2,
                      title:  '编辑机械设备检查任务',
                      area: ['1000px','370px'],
                      fixed: false,
                      content: "{% url 'menccheck:edit' %}?fid="+data.FID,
                      resize: false,
                      move: false
                  });

                  break;

              case '':
                  break;

          }
      });
  });
</script>



<!--显示设备来源模板-->
<script type="text/html" id="tpResult">
  {% verbatim %}
  {{#  if(d.FCheckresult == 0){ }}
  <span style="color: green">正常</span>
  {{#  } else if(d.FCheckresult == 1) { }}
  <span style="color: red">异常</span>
  {{#  } }}
  {% endverbatim %}
</script>


<!--生成操作工具栏-->
<script type="text/html" id="tlbar">
    {% verbatim %}
        <div class="layui-btn-group">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="iconfont icon-bianji"></i>编辑</a>
        </div>
    {% endverbatim %}
</script>

</body>
</html>