<!DOCTYPE html>
<html>
<head>
  {% include "common/resfiles.html" %}
</head>
<body>

<form class="layui-form layui-form-pane" accept-charset="utf-8">
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div>
            <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnC">关闭</a>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">采集器基础配置信息</div>
                    <div class="layui-card-body">
                        <!-- 数据列表 -->
                        <table class="layui-table" id="datasource" lay-filter="toolbar"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>

<!-- <script src="//res.layui.com/layui/build/layui.js" charset="utf-8"></script> -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
{% include "common/jsfiles.html" %}


<script>
layui.config({
    base: '/static/layui/ext/',   // 模块所在目录
}).extend({
    soulTable: 'soulTable'  // 模块别名
});

layui.use(['element','layer','form', 'table', 'soulTable'], function () {
    var element = layui.element
        , layer = layui.layer
        , form = layui.form
        ,table = layui.table
        ,soulTable = layui.soulTable;

    //关闭按钮
    $("#btnC").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
        parent.layer.close(index);
    });

    table.render({
        elem: '#datasource',
        height: '300',
        url: "{% url 'dsps:get_dev_datasource' %}?devid={{ devid }}&schemeid={{ schemeid }}",
        cols: [[
            {field:'title', width: '15%', title: '数据类型', sort: true, filter: true},
            {field:'a', width: '15%', title: '电量', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.a, 0)}}{% endverbatim %}</div>' },
            {field:'a', width: '15%', title: 'X轴', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.a, 1)}}{% endverbatim %}</div>' },
            {field:'a', width: '15%', title: 'Y轴', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.a, 2)}}{% endverbatim %}</div>' },
            {field:'a', width: '15%', title: '压力', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.a, 3)}}{% endverbatim %}</div>' },
            {field:'a', width: '15%', title: '位移', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.a, 4)}}{% endverbatim %}</div>' },
        ]],
        id: 'runreload'

        ,done: function () {
            soulTable.render(this)
        }
    });

})
</script>

<script type="text/javascript">
    function get_vals(vals, index) {
        var arrs = String(vals).split(',');

        return arrs[index]
    }
</script>


</body>
</html>
