<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--安全帽规则信息列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content layui-show">
                  <form class="layui-form">
                      <div class="layui-inline">
                          <select name="selSol" id="id_selSol">
                              <option value="">请选择测量方案</option>
                              {% for j in schemename %}
                                  <option value="{{ j }}">{{ j }}</option>
                              {% endfor %}
                          </select>
                      </div>

                      <div class="layui-inline">
                          <input type="text" class="layui-input" id="dtRage" autocomplete="off" placeholder="请输入时间范围" style="width: 320px">
                      </div>

                      <div class="layui-inline" style="margin-left: 35px">
                          <a href="javascript:;" class="layui-btn layui-btn-small layui-btn-normal layui-icon" id="btnSearch">&#xe615;查询</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div style="padding-top: 10px" >
          <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnSchDetail">方案详细信息</a>
          <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnClose">关闭</a>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="toolbar"></table>

{% include "common/jsfiles.html" %}

<script>
  layui.config({
      base: '/static/layui/ext/',   // 模块所在目录
  }).extend({
      soulTable: 'soulTable'  // 模块别名
  });

  layui.use(['element', 'layer', 'table', 'soulTable', 'form', 'laydate'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer
          ,laydate = layui.laydate
          ,form = layui.form
          ,soulTable = layui.soulTable;

      $("#btnClose").click(function () {
          window.parent.layui.element.tabDelete('tabMain','Dsps');
      });

      laydate.render({
        elem: '#dtRage'
        ,type: 'datetime'
        ,range: true
      });

      //新增按钮事件
      $("#btnSearch").click(function () {
         var schemeid = $("#id_selSol").val();
         var daterage = $("#dtRage").val();

         if (schemeid == '' || daterage == '') {
            layer.alert('请选择一个测量方案并且设置查询时间段')

          } else {
              table.render({
                  elem: '#datasource',
                  height: 'full-190',
                  url: "{% url 'dsps:get_datasource' %}?schemeid="+schemeid+"&daterage="+daterage,
                  cols: [[
                      {field:'plan_name', width: '10%', title: '方案名称', sort: true, filter: true},
                      {field:'vals', width: '10%', title: '温度', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.vals, 1)}}{% endverbatim %}</div>'},
                      {field:'vals', width: '15%', title: 'X轴坐标', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.vals, 2)}}{% endverbatim %}</div>'},
                      {field:'vals', width: '15%', title: 'Y轴坐标', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.vals, 3)}}{% endverbatim %}</div>'},
                      {field:'vals', width: '15%', title: '压力', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.vals, 4)}}{% endverbatim %}</div>'},
                      {field:'vals', width: '15%', title: '位移', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.vals, 5)}}{% endverbatim %}</div>'},
                      {field:'vals', width: '15%', title: '采集器电量', sort: true, filter: true, templet: '<div>{% verbatim %}{{get_vals(d.vals, 0)}}{% endverbatim %}</div>'},
                      {field:'sample_dev_id', width: '15%', title: '采集设备编号', sort: true, filter: true},
                      {field:'upload_dev_id', width: '15%', title: '上传设备编号', sort: true, filter: true},
                      {field:'sample_time', width: '20%', title: '数据采集时间', sort: true, filter: true},
                      {field:'upload_time', width: '20%', title: '数据上传时间', sort: true, filter: true},
                      {field:'', title: '操作', width: '25%', toolbar: '#tlbar', fixed: 'right'}
                  ]],
                  id: 'runreload'

                  ,done: function () {
                      soulTable.render(this)
                  }
              });

         }
      });

      table.render({
          elem: '#datasource',
          height: 'full-190',
          data: [],
          cols: [[
              {field:'', width: '10%', title: '方案名称', sort: true, filter: true},
              {field:'', width: '20%', title: '温度', sort: true, filter: true},
              {field:'', width: '20%', title: 'X轴坐标', sort: true, filter: true},
              {field:'', width: '20%', title: 'Y轴坐标', sort: true, filter: true},
              {field:'', width: '20%', title: '压力', sort: true, filter: true},
              {field:'', width: '20%', title: '位移', sort: true, filter: true},
              {field:'', width: '20%', title: '采集器电量', sort: true, filter: true},
              {field:'', width: '15%', title: '采集设备编号', sort: true, filter: true},
              {field:'', width: '15%', title: '上传设备编号', sort: true, filter: true},
              {field:'', width: '15%', title: '数据采集时间', sort: true, filter: true},
              {field:'', width: '15%', title: '数据上传时间', sort: true, filter: true},
              {field:'', title: '操作', width: '10%', toolbar: '#tlbar', fixed: 'right'}
          ]]
      });


      table.on('tool(toolbar)', function (obj) {
          var data = obj.data;           //获取当前行数据
          var layEvent = obj.event;      //获取当前行事件
          var tr = obj.tr;               //获取当前行tr的DOM数据
          var schemeid = $("#id_selSol").val();

          switch (layEvent){
              case 'setup' :              //编辑按钮事件
                  parent.layer.open({
                      type:   2,
                      title:  '采集器配置信息',
                      area: ['920px','530px'],
                      fixed: false,
                      content: "{% url 'dsps:dev_setupinfo' %}?devid="+data.sample_dev_id+"&schemeid="+schemeid,
                      resize: false,
                      move: false
                  });

                  break;

              case '' :
                  break;

          }

      });

  });
</script>

  <script type="text/javascript">
      function get_vals(vals, index) {
          var arrs = String(vals).split(',');

          return arrs[index]
      }
  </script>


<!--生成操作工具栏-->
<script type="text/html" id="tlbar">
    {% verbatim %}
        <div class="layui-btn-group">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="setup"><i class="fa fa-cogs" aria-hidden="true"></i>采集仪配置信息</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="iconfont icon-bianji"></i>获取示意图</a>
        </div>
    {% endverbatim %}
</script>

</body>
</html>