  {% load getsubmenu %}
  <div class="layui-side layui-bg-black x-side" style="width: 215px" >
    <div class="layui-side-scroll"> 
      <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="navSidebar" style="height: 100%">
            {% for smenu in side_busmenu_info %}
                <li class="layui-nav-item {% if smenu.FFoldState == 1 %} layui-nav-itemed {% endif %}">
                    <a href="javascript:;"><i class="{{ smenu.FMenuIcon }}" aria-hidden="true"></i>{{ smenu.FMenuName }}</a>
                    {% for sub_node in smenu.FID|get_submenu %}
                        <dl class="layui-nav-child">
                            {% if sub_node.FID|get_submenu == 0 %}
                                 <dd><a href="javascript:;" data-url="{% if sub_node.FUrl == None %}'' {% else %}{% url sub_node.FUrl %}{% endif %}" data-id="{{ sub_node.FMenuID }}" {% if sub_node.FFormState == 1 %} data-target="nw" {% endif %}><span>{{ sub_node.FMenuName }}</span></a></dd>
                            {% else %}
                                <dd class="layui-nav-item">
                                    <a href="javascript:;">{{ sub_node.FMenuName }}</a>
                                    <dl class="layui-nav-child">
                                    {% for leaf_node in sub_node.FID|get_submenu %}
                                        <dd><a href="javascript:;" data-id="{{ leaf_node.FMenuID }}" data-url="{% if leaf_node.FUrl == None %}'' {% else %}{% url leaf_node.FUrl %}{% endif %}" {% if leaf_node.FFormState == 1 %} data-target="nw" {% endif %}><span>{{ leaf_node.FMenuName }}</span></a></dd>
                                    {% endfor %}
                                    </dl>
                                </dd>
                            {% endif %}
                        </dl>
                    {% endfor %}
            {% endfor %}
      </ul>
    </div>
  </div>
