  <div class="layui-side layui-bg-black x-side" style="width: 215px" >
    <div class="layui-side-scroll"> 
      <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="navSidebar" style="height: 100%">
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;"><i class="fa fa-map" aria-hidden="true"></i> 概览</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-url="" data-id="visual"><span>可视化</span></a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-h-square" aria-hidden="true"></i> 劳务管理子系统</a>
          <dl class="layui-nav-child">
            <dd class="layui-nav-item">
                <a href="javascript:;">人员信息管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-id="Team" data-url="{% url 'team:team' %}"><span>施工队管理</span></a></dd>
                    <dd><a href="javascript:;" data-id="Group" data-url="{% url 'group:group' %}"><span>班组管理</span></a></dd>
                    <dd><a href="javascript:;" data-id="Personnel" data-url="{% url 'personnel:personnel' %}"><span>施工人员档案</span></a></dd>
                    <dd><a href="javascript:;" data-id="Area" data-url=""><span>授权中心</span></a></dd>
                </dl>
            </dd>
          </dl>
          <dl class="layui-nav-child">
            <dd class="layui-nav-item">
                <a href="javascript:;">人员实时监测</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-id="Area" data-url=""><span>人员信息一览</span></a></dd>
                    <dd><a href="javascript:;" data-id="Area" data-url=""><span>人员分布监测</span></a></dd>
                    <dd><a href="javascript:;" data-id="Area" data-url=""><span>人员轨迹管理</span></a></dd>
                </dl>
            </dd>
          </dl>
          <dl class="layui-nav-child">
            <dd class="layui-nav-item">
                <a href="javascript:;">考勤管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-id="Pedpassage" data-url="{% url 'pedpassage:pedpassage' %}"><span>人行通道管理</span></a></dd>
                    <dd><a href="javascript:;" data-id="Passagerecord" data-url="{% url 'passagerecord:passagerecord' %}"><span>考勤信息查询</span></a></dd>
                </dl>
            </dd>
          </dl>
            <dl class="layui-nav-child">
                <dd class="layui-nav-item">
                    <a href="javascript:;">安全帽管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="Hatrule" data-url="{% url 'hatrule:hatrule' %}"><span>安全帽监控规则</span></a></dd>
                        <dd><a href="javascript:;" data-id="Hatalertlog" data-url="{% url 'hatalertlog:enterance' %}"><span>安全帽报警记录</span></a></dd>
                    </dl>
                </dd>
            </dl>
            <dl class="layui-nav-child">
                <dd class="layui-nav-item">
                    <a href="javascript:;">安全培训管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="Safetrain" data-url="{% url 'safetrain:entrance' %}"><span>安全培训记录</span></a></dd>
                    </dl>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-th" aria-hidden="true"></i> 环境监测子系统</a>
            <dl class="layui-nav-child">
                <dd class="layui-nav-item">
                    <a href="javascript:;">环境数据采集</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="Area" data-url=""><span>环境实时监测</span></a></dd>
                        <dd><a href="javascript:;" data-id="Envdatalog" data-url="{% url 'envdatalog:entrance' %}  "><span>环境历史数据</span></a></dd>
                    </dl>
                </dd>
                <dd class="layui-nav-item">
                    <a href="javascript:;">报警联动</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="Envrule" data-url="{% url 'envrule:entrance' %} "><span>报警联动策略</span></a></dd>
                        <dd><a href="javascript:;" data-id="Envalarmlog" data-url="{% url 'envalarmlog:entrance' %}"><span>报警联动记录</span></a></dd>
                    </dl>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-car" aria-hidden="true"></i> 车辆管理子系统</a>
          <dl class="layui-nav-child">
              <dd class="layui-nav-item">
                  <a href="javascript:;">出入口管理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Vehiclegate" data-url="{% url 'vehiclegate:entrance' %}"><span>车辆出入口管理</span></a></dd>
                      <dd><a href="javascript:;" data-id="Vehiclefiles" data-url="{% url 'vehiclefiles:entrance' %}"><span>车辆档案管理</span></a></dd>
                      <dd><a href="javascript:;" data-id="Vehiclepasslog" data-url="{% url 'vehiclepasslog:entrance' %}"><span>车辆通行记录</span></a></dd>
                  </dl>
              </dd>
              <dd class="layui-nav-item">
                  <a href="javascript:;">行驶安全管理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>车辆行驶轨迹</span></a></dd>
                      <dd><a href="javascript:;" data-id="Elecfencle" data-url="{% url 'elecfencle:entrance' %}"><span>电子围栏</span></a></dd>
                      <dd><a href="javascript:;" data-id="Elecalarm" data-url="{% url 'elecalarm:entrance' %}"><span>电子围栏预警监控</span></a></dd>
                  </dl>
              </dd>
          </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-cube" aria-hidden="true"></i> 工程物资子系统</a>
          <dl class="layui-nav-child">
              <dd class="layui-nav-item">
                  <a href="javascript:;">物料管理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Goodstype" data-url="{% url 'goodstype:entrance' %}"><span>物料类型</span></a></dd>
                      <dd><a href="javascript:;" data-id="Materials" data-url="{% url 'materials:entrance' %}"><span>物料信息主档</span></a></dd>
                  </dl>
              </dd>
              <dd class="layui-nav-item">
                  <a href="javascript:;">物料台账管理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Receaccount" data-url="{% url 'receaccount:entrance' %}"><span>收料明细台账</span></a></dd>
                      <dd><a href="javascript:;" data-id="Issueaccount" data-url="{% url 'issueaccount:entrance' %}"><span>发料明细台账</span></a></dd>
                  </dl>
              </dd>
              <dd class="layui-nav-item">
                  <a href="javascript:;">物料业务处理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Recepound" data-url="{% url 'recepound:entrance' %}"><span>收料磅单管理</span></a></dd>
                      <dd><a href="javascript:;" data-id="Issuepound" data-url="{% url 'issuepound:entrance' %}"><span>发料磅单管理</span></a></dd>
                      <dd><a href="javascript:;" data-id="Abnpound" data-url="{% url 'abnpound:entrance' %}"><span>异常单据处理</span></a></dd>
                  </dl>
              </dd>
          </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-line-chart" aria-hidden="true"></i> 机械设备子系统</a>
          <dl class="layui-nav-child">
              <dd class="layui-nav-item">
                  <a href="javascript:;">机械信息管理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>设备操作授权</span></a></dd>
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>机械设备管理</span></a></dd>
                  </dl>
              </dd>
              <dd class="layui-nav-item">
                  <a href="javascript:;">机械设备监测</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>机械操作记录</span></a></dd>
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>机械实时监控</span></a></dd>
                  </dl>
              </dd>
              <dd class="layui-nav-item">
                  <a href="javascript:;">特种设备管理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>塔吊运行监控</span></a></dd>
                  </dl>
              </dd>
              <dd class="layui-nav-item">
                  <a href="javascript:;">机械运维管理</a>
                  <dl class="layui-nav-child">
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>机械设备检查记录</span></a></dd>
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>机械设备运维计划</span></a></dd>
                      <dd><a href="javascript:;" data-id="Area" data-url=""><span>机械设备维修记录</span></a></dd>
                  </dl>
              </dd>
          </dl>
        </li>

          <li class="layui-nav-item">
              <a href="javascript:;"><i class="fa fa-video-camera" aria-hidden="true"></i> 视频监控子系统</a>
              <dl class="layui-nav-child">
                  <dd class="layui-nav-item">
                      <a href="javascript:;">监控设备管理</a>
                      <dl class="layui-nav-child">
                          <dd><a href="javascript:;" data-id="Area" data-url=""><span>监控设备管理</span></a></dd>
                          <dd><a href="javascript:;" data-id="Area" data-url=""><span>监控设备部署</span></a></dd>
                      </dl>
                  </dd>
                  <dd class="layui-nav-item">
                      <a href="javascript:;">视频监控查看</a>
                      <dl class="layui-nav-child">
                          <dd><a href="javascript:;" data-id="Area" data-url=""><span>视频实时录像</span></a></dd>
                          <dd><a href="javascript:;" data-id="Area" data-url=""><span>视频录像回看</span></a></dd>
                      </dl>
                  </dd>
              </dl>
          </li>

          <li class="layui-nav-item">
              <a href="javascript:;"><i class="fa fa-fire-extinguisher" aria-hidden="true"></i> 重点项安全监控</a>
              <dl class="layui-nav-child">
                  <dd><a href="javascript:;" data-id="Area" data-url=""><span>测点维护管理</span></a></dd>
                  <dd><a href="javascript:;" data-id="Area" data-url=""><span>测点配置管理</span></a></dd>
              </dl>
          </li>
      </ul>
    </div>
  </div>
