  <div class="layui-side layui-bg-black x-side" style="width: 215px" >
    <div class="layui-side-scroll"> 
      <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="navSidebar" style="height: 100%">
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;"><i class="fa fa-map" aria-hidden="true"></i> 概览</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-url="" data-id="visual"><span>可视化</span></a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-h-square" aria-hidden="true"></i> 外联单位管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-id="Unionorg" data-url=""><span>外联单位信息</span></a></dd>
	    <dd><a href="javascript:;" data-id="Seclog" data-url=""><span>外联单位安全日志</span></a></dd>
	    <dd><a href="javascript:;" data-id="Accdev" data-url=""><span>接入专网设备管理</span></a></dd>
        </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-th" aria-hidden="true"></i> 设备管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-id="Devspec" data-url=""><span>设备型号管理</span></a></dd>
            <dd><a href="javascript:;" data-id="Primdev" data-url=""><span>网控主机管理</span></a></dd>
            <dd><a href="javascript:;" data-id="Ukey" data-url=""><span>终端设备管理</span></a></dd>
            <dd><a href="javascript:;" data-id="Devlog" data-url=""><span>设备操作日志</span></a></dd>
            <dd><a href="javascript:;" data-id="Devlog" data-url=""><span>设备更换管理</span></a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-history" aria-hidden="true"></i> 安全规则管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-id="Rules" data-url="" ><span>安全规则设置</span></a></dd>
            <dd><a href="javascript:;" data-id="Ruleres" data-url="" ><span>调用资源设置</span></a></dd>
            <dd><a href="javascript:;" data-id="Reserverule" data-url="" ><span>规则下发设置</span></a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 异常管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-id="Abnor" data-url=""><span>安全异常记录</span></a></dd>
            <dd><a href="javascript:;" data-id="Ablist" data-url=""><span>安全异常处理</span></a></dd>
            <dd><a href="javascript:;" data-id="Ablist" data-url=""><span>设备手动操作</span></a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;"><i class="fa fa-line-chart" aria-hidden="true"></i> 报表管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;" data-id="Chrules" data-url=""><span>安全事件统计表</span></a></dd>
            <dd><a href="javascript:;" data-id="Chrules" data-url=""><span>外联单位情况表</span></a></dd> 
          </dl>  
        </li>
      </ul>
    </div>
  </div>
