<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--设备管理信息列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content">
                  <form class="layui-form" method="post">
                      <div class="layui-inline">
                          <input type="text" name="serinput" placeholder="输入设备名称" autocomplete="off" class="layui-input" value="" style="width: 120%">
                      </div>

                      <div class="layui-inline" style="margin-left: 35px">
                          <input type="button" class="layui-btn layui-btn-small layui-btn-normal layui-icon" lay-submit lay-filter="formsubmit" value="&#xe615;查  询"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div style="padding-top: 10px" >
          <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnAdd">增加</a>
          <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnClose">关闭</a>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="toolbar"></table>

{% include "common/jsfiles.html" %}

<script>
  var Devicetypeinfo = {{ devicetypeinfo|safe }};
  var Devinterface = {{ devinterfaceinfo|safe }};

  layui.config({
      base: '/static/layui/ext/',   // 模块所在目录
  }).extend({
      soulTable: 'soulTable'  // 模块别名
  });

  layui.use(['element', 'layer', 'table', 'soulTable'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer
          ,soulTable = layui.soulTable;

      $("#btnClose").click(function () {
          window.parent.layui.element.tabDelete('tabMain','Device');
      });

      //新增按钮事件
      $("#btnAdd").click(function () {
          parent.layer.open({
              type:   2,
              title:  '新增设备',
              area: ['920px','540px'],
              fixed: false,
              content: "{% url 'device:add' %}",
              resize: false,
              move: false
          });
      });

      table.render({
          method: 'post',
          page: true,
          limit: 20,
          height: 'full-120',
          elem: '#datasource',
          url: "{% url 'device:get_datasource' %}",
          cols: [[
              {title: '', width: '4%', collapse: true, children:[
                      {
                          title: '操作授权明细'
                          ,url: function (row) {
                              return "{% url 'device:get_callinterface_datasource' %}?fid="+row.FID
                          }
                          ,height: 260
                          ,page: false
                          ,cols: [[
                              {field: 'FCallSigCode', title: '调用特征码', width: '5%', sort: true, filter: true},
                              {field: 'FInterfaceID', title: '调用接口', width: '10%', sort: true, filter: true, templet: '<div>{% verbatim %}{{sotitle(d.FInterfaceID, Devinterface)}}{% endverbatim %}</div>'},
                              {field: 'FDataMode', title: '数据模式', width: '5%', sort: true, filter: true, templet: '#tpDataMode'},
                              {field: 'FDesc', title: '备注', width: '20%', sort: true, filter: true},
                          ]]
                          ,done: function () {
                              soulTable.render(this);
                          }
                      }
                  ]},

              {field:'FDevID', width: '15%', title: '设备编码', sort: true},
              {field:'FDevice', width: '20%', title: '设备名称', sort: true},
              {field:'FDevtypeID', width: '15%', title: '设备类型', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FDevtypeID, Devicetypeinfo)}}{% endverbatim %}</div>'},
              {field:'FDevIP', width: '15%', title: '设备IP', sort: true},
              {field:'FPort', width: '15%', title: '设备端口', sort: true},
              {field:'FManufacturer', width: '20%', title: '设备厂商', sort: true},
              {field:'FBrand', width: '15%', title: '设备品牌', sort: true},
              {field:'FMainstaff', width: '15%', title: '维护人员', sort: true},
              {field:'FMainstafftel', width: '15%', title: '联系电话', sort: true},
              {field:'FWarrantyDate', width: '15%', title: '质保期', sort: true},
              {field:'FStatus', width: '15%', title: '状态', sort: true, templet: '#tpStatus'},
              {field:'', title: '操作', width: '20%', toolbar: '#tlbar', fixed: 'right'}
          ]],
          id: 'runreload'

          ,done: function () {
              soulTable.render(this)
          }
      });

      //监听查询条件提交
        form.on('submit(formsubmit)', function (data) {
            var serinput = $("input[name='serinput']").val();
            //alert(serinput);
            table.reload('runreload', {where: {resultdict:{FDevice: serinput}}});

            return false;
        });


      //监听工具栏按钮事件
      table.on('tool(toolbar)', function (obj) {
          var data = obj.data;           //获取当前行数据
          var layEvent = obj.event;      //获取当前行事件
          var tr = obj.tr;               //获取当前行tr的DOM数据
          var fid = {"fid":data.FID};

          switch (layEvent){
              case 'edit' :              //编辑按钮事件
                  parent.layer.open({
                      type:   2,
                      title:  '编辑设备',
                      area: ['920px','540px'],
                      fixed: false,
                      content: "{% url 'device:edit' %}?fid="+data.FID,
                      resize: false,
                      move: false
                  });

                  break;

              case 'call' :
                  parent.layer.open({
                      type:   2,
                      title:  '挂接接口',
                      area: ['920px','340px'],
                      fixed: false,
                      content: "{% url 'device:add_callinterface' %}?fid="+data.FID,
                      resize: false,
                      move: false
                  });

                  break;

              case 'disabled' :               //禁用按钮事件
                  parent.layer.open({
                      content: '是否确定禁用该设备',
                      btn: ['确定','取消'],
                      yes: function (index) {
                          $.post("{% url 'device:disabled' %}?type=lock", fid, function (data) {
                              if (data.result=='0') {
                                  //window.parent.document.getElementById('Project').contentWindow.location.reload();
                                  table.reload('runreload', {where: {resultdict:{FDevice: ''}}});
                              } else if (data.result=='2') {
                                  parent.layer.alert('设备禁用失败',{skin: 'layui-layer-lan', closeBtn: 0, anim: 0});
                              }

                          },"json");

                          parent.layer.close(index);
                      },
                      btn2: function (index) {
                      }
                  });

                  break;

              case 'enabled' :
                  parent.layer.open({
                      content: '是否确定启用该设备',
                      btn: ['确定','取消'],
                      yes: function (index) {
                          $.post("{% url 'device:disabled' %}?type=unlock", fid, function (data) {
                              if (data.result=='0') {
                                  table.reload('runreload', {where: {resultdict:{FDevice: ''}}});
                              } else if (data.result=='2') {
                                  parent.layer.alert('设备启用失败',{skin: 'layui-layer-lan', closeBtn: 0, anim: 0});
                              }

                          },"json");

                          parent.layer.close(index);
                      },
                      btn2: function (index) {
                      }
                  });


                  break;

          }
      });
  });
</script>

<!--显示启用状态模板-->
<script type="text/html" id="tpStatus">
      {% verbatim %}
        {{#  if(d.FStatus == false){ }}
            <span style="color: red">禁用</span>
        {{#  } else if(d.FStatus == true) { }}
            <span style="color: green">启用</span>
        {{#  } }}
      {% endverbatim %}
</script>

  <!--显示启用状态模板-->
  <script type="text/html" id="tpDataMode">
      {% verbatim %}
      {{#  if(d.FDataMode == 0){ }}
      <span>仅调用</span>
      {{#  } else if(d.FDataMode == true) { }}
      <span>数据模式</span>
      {{#  } }}
      {% endverbatim %}
  </script>

<!--生成操作工具栏-->
<script type="text/html" id="tlbar">
    {% verbatim %}
        <div class="layui-btn-group">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="iconfont icon-bianji"></i>编辑</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="call"><i class="fa fa-link" aria-hidden="true"></i>挂接接口</a>

            {{# if(d.FStatus == true){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disabled"><i class="iconfont icon-ccgl-yuliuyusuoding-6"></i>禁用</a>
            {{# } else if(d.FStatus == false){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="enabled"><i class="iconfont icon-ccgl-yuliuyusuoding-6"></i>启用</a>
            {{# } else { }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disabled"><i class="iconfont icon-ccgl-yuliuyusuoding-6"></i>禁用</a>
            {{# } }}

        </div>
    {% endverbatim %}
</script>

</body>
</html>