<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title></title>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/jquery.idcode.css">
        <script src="/static/js/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery.idcode.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function(){
                $(".box").height($(window).height());
	
    	        $(window).resize(function(){$(".box").height($(window).height())});
            });
        </script>
    </head>

    <body style="height: 100%; overflow: hidden">

        <div class="box">

            <div class="login-box">
                <div class="left">
                    <div >
                        <img src="/static/images/logo.png" style="float: left;" /> <p style="float: left; font-size: 22px; color: white;">翰名科技</p>
                    </div>
                </div>
                <div class="right">
                    <!-- <img src="/static/images/icon02.png" /> -->
                    <p style="font-size: 50px; color: #4455C9">智慧工地管控平台</p>

                    <form style="padding-top: 15%">
                        <div class="login">
                            <input required='' type='text'>
                            <label alt='用户名' placeholder='用户名'></label>
                        </div>
                        <div class="login">
                            <input required='' type='password'>
                            <label alt='密码' placeholder='密码'></label>
                        </div>
                        <div class="login">
                            <input required='' type='text' class="txtVerification" id="Txtidcode" >
                            <label alt='验证码' placeholder='验证码'></label>
                            <span id="idcode" style="padding-left: 80%"></span>
                        </div>
                        <label class="login-btn"><input type="checkbox"><span></span><p>记住密码</p></label>
                        <button class="btn" id="login">登录</button>
                    </form>
                    <p>© 2019 杭州翰名信息技术有限公司 版权所有 V1.1.0.728</p>
                </div>
            </div>
        </div>


        <script>
            $.idcode.setCode();

            $("#login").click(function () {
               //alert('test');
               var IsBy = $.idcode.validateCode();
               alert(IsBy);


            });
        </script>

    </body>
</html>
