<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/css.css" />
	</head>

	<body>
		<div class="main_content">
			<div class="main_left">
				<div class="cc on c1"><img src="images/page_03.png" class="ic1"/><img src="images/tp_06.png" class="ics1"/></div>
				<div class="cc c2"><img src="images/tp_17.png" class="ic1"/><img src="images/page_11.png" class="ics1"/></div>
				<div class="cc c3"><img src="images/page_32.png" class="ic1"/><img src="images/tp_08.png" class="ics1"/></div>
				<div class="cc c4"><img src="images/page_58.png" class="ic1"/><img src="images/tp_10.png" class="ics1"/></div>
				<div class="cc c5"><img src="images/page_65.png" class="ic1"/><img src="images/tp_12.png" class="ics1"/></div>
				<div class="cc c6"><img src="images/page_74.png" class="ic1"/><img src="images/tp_14.png" class="ics1"/></div>
				<div id = 'caption' class="ics">
					 <span style="font-size: 30px; color: white;"><p>环境监测</p></span>
				</div>
			</div>
			<div class="main_mid">
				<h2>35<span>FLOOR</span></h2>
				<ul>
					<li>
						<img src="images/page_23.png" />
						<p>运行中</p>
						<span>RUNNING</span>
					</li>
					<li>
						<img src="images/page_29.png" />
						<p>未运行</p>
						<span>STOP</span>
					</li>
				</ul>
				<div class="ddts">
					<div class="ddt_tit">
						<p>南侧电梯</p>
						<span>SOUTH</span>
					</div>
					<div class="ddt_box">
						<div class="nun" style="left: -3px;bottom: 50%;">1F</div> <!--电梯楼层-->
						<div class="nun" style="right: -3px;bottom: 90%;">1F</div> <!--电梯楼层-->
						<div class="nuns" style="left: 23px;bottom: 0;">1F</div>
						<div class="nuns" style="left: 75px;bottom: 0;">1F</div>
						<div class="bb_left bb1"></div>
						<div class="bb_mid bb2"></div>
						<div class="bb_center bb3"></div>
						<div class="bb_mid bb4"></div>
						<div class="bb_left bb5"></div>
					</div>
				</div>
				<!--<div class="ddts1">
					<img src="images/page_27.png"/>
					<div class="ddt_box1">
						<div class="nun" style="left: -2px;bottom: 0;">1F</div>
						<div class="ll">15F</div>
						<div class="bb_left bb1"></div>
						<div class="bb_mid bb2"></div>
						<div class="bb_center bb3"></div>
						<div class="bb_mid bb4"></div>
						<div class="bb_left bb5"></div>
						<div class="tus"></div>
					</div>
				</div>-->
			</div>
			<div class="main_right">
				<div class="right_tit">
					<div class="fl">
						<p>8</p>
						<img src="images/page_07.png" />
					</div>
					<div class="fr">
						<p>ELEVATORITOTAL</p>
						<span>电梯总数</span>
					</div>
				</div>
				<div class="num">
					<div class="t">
						<p>4</p>
						<img src="images/page_14.png" />
						<img src="images/page_14.png" />
						<img src="images/page_14.png" />
						<img src="images/page_14.png" />
					</div>
					<div class="b">
						<p>客梯数量</p>
						<span>ELEVATOR<br />NUMBER</span>
					</div>
				</div>
				<div class="num">
					<div class="t">
						<p>4</p>
						<img src="images/page_14.png" />
						<img src="images/page_14.png" />
						<img src="images/page_14.png" />
						<img src="images/page_14.png" />
					</div>
					<div class="b">
						<p>货梯数量</p>
						<span>CARGO LIFT<br />NUMBER</span>
					</div>
				</div>
				<div class="zt">
					<p>运行状态</p>
					<span>RUNNING<br />STATE</span>
				</div>
				<div class="box_ect">
					<div class="tt">
						<img src="images/page_50.png" />
						<p>客梯</p>
					</div>
					<img src="images/add.png" class="asdd" />
					<div class="nus">
						<p>18F</p>
						<p>18F</p>
						<p>32F</p>
						<p>15F</p>
					</div>
					<div id="main" style="width: 100%;height: 100%;"></div>
				</div>
				<div class="box_ect">
					<div class="tt">
						<img src="images/page_50.png" />
						<p>货梯</p>
					</div>
					<span>CARGO LIFT</span>
					<img src="images/add.png" class="asdd" />
					<div class="nus">
						<p>18F</p>
						<p>18F</p>
						<p>32F</p>
						<p>15F</p>
					</div>
					<div id="main1" style="width: 100%;height: 100%;"></div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/echarts.min.js"></script>
	<script>
		var myCharta = echarts.init(document.getElementById('main'));
		var myCharta1 = echarts.init(document.getElementById('main1'));
		var option = {
			tooltip: {
				trigger: 'item',
				formatter: "{a} <br/>{b}: {c} ({d}%)"
			},
			series: [{
				name: '访问来源',
				type: 'pie',
				radius: ['50%', '70%'],
				avoidLabelOverlap: false,
				labelLine: {
					length: 20,
					length2: 40,
					color: {
						color: '#999999'
					}
				},
				label: {
					formatter: "{c}"
						},
				itemStyle: {
					borderColor: '#000',
					borderWidth: 1
				},
				markPoint: {
					symbol: 'images/page_61.png'
				},
				data: [{
						value: 8,
						name: '18FF',
						itemStyle: {
							color: '#FFB24E'
						},
						label: {
							fontSize: 30,
							color: '#A7FFFD',
						},
					},
					{
						value: 8,
						name: '18FF',
						itemStyle: {
							color: '#999999'
						},
						label: {
							fontSize: 30,
							color: '#999999'
						},
					},
					{
						value: 8,
						name: '32FF',
						itemStyle: {
							color: '#FFB24E'
						},
						label: {
							fontSize: 30,
							color: '#A7FFFD',
						},
					},
					{
						value: 8,
						name: '15FF',
						itemStyle: {
							color: '#FFB24E'
						},
						label: {
							fontSize: 30,
							color: '#A7FFFD',
						},
					}
				]
			}]
		};
		var option1 = {
			tooltip: {
				trigger: 'item',
				formatter: "{a} <br/>{b}: {c} ({d}%)"
			},
			series: [{
				name: '访问来源',
				type: 'pie',
				radius: ['50%', '70%'],
				avoidLabelOverlap: false,
				labelLine: {
					length: 20,
					length2: 40,
					color: {
						color: '#999999'
					}
				},
				label: {
					formatter: "{c}"
						},
				itemStyle: {
					borderColor: '#000',
					borderWidth: 1
				},
				markPoint: {
					symbol: 'images/page_61.png'
				},
				data: [{
						value: 8,
						name: '18FF',
						itemStyle: {
							color: '#FFB24E'
						},
						label: {
							fontSize: 30,
							color: '#A7FFFD',
						},
					},
					{
						value: 8,
						name: '18FF',
						itemStyle: {
							color: '#999999'
						},
						label: {
							fontSize: 30,
							color: '#999999'
						},
					},
					{
						value: 8,
						name: '32FF',
						itemStyle: {
							color: '#FFB24E'
						},
						label: {
							fontSize: 30,
							color: '#A7FFFD',
						},
					},
					{
						value: 8,
						name: '15FF',
						itemStyle: {
							color: '#FFB24E'
						},
						label: {
							fontSize: 30,
							color: '#A7FFFD',
						},
					}
				]
			}]
		};
		myCharta.setOption(option);
		myCharta1.setOption(option1);
		window.onresize = function() {
			myCharta.resize();
			myCharta1.resize();
		}
		
		
		$('.main_content .main_left .cc').click(function(){
			var n = $(this).index()
			
			$(this).addClass('on').siblings().removeClass('on')
		})
	</script>

</html>