<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--设备管理信息列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content">
                  <form class="layui-form" method="post">
                      <div class="layui-inline">
                          <input type="text" name="serinput" placeholder="输入人员名称" autocomplete="off" class="layui-input" value="" style="width: 120%">
                      </div>

                      <div class="layui-inline" style="margin-left: 35px">
                          <input type="button" class="layui-btn layui-btn-small layui-btn-normal layui-icon" lay-submit lay-filter="formsubmit" value="&#xe615;查  询"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div style="padding-top: 10px" >
          <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnClose">关闭</a>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="toolbar"></table>

{% include "common/jsfiles.html" %}

<script>
  var Authtypeinfo = {{ authtypeinfo|safe }};
  var Areainfo = {{ areainfo|safe }}
  var Groupinfo = {{ groupinfo|safe }}
  var Worktypeinfo = {{ worktypeinfo|safe }}

  layui.use(['element', 'layer', 'table'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer;

      $("#btnClose").click(function () {
          window.parent.layui.element.tabDelete('tabMain','Passagerecord');
      });

      table.render({
          method: 'post',
          page: true,
          limit: 20,
          elem: '#datasource',
          url: "{% url 'passagerecord:get_datasource' %}",
          cols: [[
              {field:'FPersonID__FName', width: '10%', title: '人员姓名', sort: true},
              {field:'FPersonID__FGroupID', width: '15%', title: '所属班组', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FPersonID__FGroupID, Groupinfo)}}{% endverbatim %}</div>'},
              {field:'FPersonID__FWorktypeID', width: '15%', title: '工种', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FPersonID__FWorktypeID, Worktypeinfo)}}{% endverbatim %}</div>'},
              {field:'FPassageID__FAreaID', width: '15%', title: '考勤区域', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FPassageID__FAreaID, Areainfo)}}{% endverbatim %}</div>'},
              {field:'FPassageID__FPassage', width: '10%', title: '通道', sort: true},
              {field:'FPassageID__FType', width: '10%', title: '通道类型', sort: true, templet: '#tpType'},
              {field:'FAuthtypeID', width: '15%', title: '通行授权方式', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FAuthtypeID, Authtypeinfo)}}{% endverbatim %}</div>'},
              {field:'CREATED_TIME', width: '20%', title: '发生时间', sort: true},
          ]],
          id: 'runreload'
      });

      //监听查询条件提交
        form.on('submit(formsubmit)', function (data) {
            var serinput = $("input[name='serinput']").val();
            //alert(serinput);
            table.reload('runreload', {where: {resultdict:{FPersonID__FName: serinput}}});

            return false;
        });


  });
</script>


<!--显示启用状态模板-->
<script type="text/html" id="tpType">
     {% verbatim %}
        {{#  if(d.FPassageID__FType == 0){ }}
            <span style="color: green">入口</span>
        {{#  } else if(d.FPassageID__FType == 1) { }}
            <span style="color: red">出口</span>
        {{#  } }}
     {% endverbatim %}
</script>


</body>
</html>