<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--设备管理信息列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content">
                  <form class="layui-form layui-form-pane" method="get">

                      <div class="layui-row layui-col-space10" style="padding-top: 1%">
                        <div class="layui-col-md12">
                          <div class="layui-row layui-col-space10">
                              <div class="layui-col-xs3">
                                  <input type="text" name="serinput" placeholder="输入设备编码" autocomplete="off" class="layui-input" value="" style="width: 120%">
                              </div>

                              <div class="layui-col-xs4">
                                  <label class="layui-form-label">时间范围</label>
                                  <div class="layui-input-block">
                                        <input type="text" name="serdate" id="id_serdate" autocomplete="off" class="layui-input" value="" style="width: 120%">
                                  </div>
                              </div>

                              <div class="layui-col-xs3">
                                  <input type="button" class="layui-btn layui-btn-small layui-btn-normal layui-icon" lay-submit lay-filter="formsubmit" value="&#xe615;查  询"/>
                              </div>
                          </div>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div style="padding-top: 10px" >
          <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnClose">关闭</a>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="toolbar"></table>

{% include "common/jsfiles.html" %}

<script>

    layui.config({
        base: '/static/layui/ext/',   // 模块所在目录
    }).extend({
        soulTable: 'soulTable'  // 模块别名
    });

  layui.use(['element', 'layer', 'laydate', 'table', 'soulTable', 'util'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer
          ,soulTable = layui.soulTable
          ,laydate = layui.laydate
          ,util = layui.util;


      //var format="yyyy-MM-dd HH:mm:ss";
      //util.toDateString(time, format);

      var d = new Date();
      var sd = d.getFullYear()+'-'+ lay.digit(d.getMonth() + 1)+'-'+lay.digit(d.getDate()-1);
      var md = d.getFullYear()+'-'+ lay.digit(d.getMonth() + 1)+'-'+lay.digit(d.getDate());

      $("#btnClose").click(function () {
          window.parent.layui.element.tabDelete('tabMain','Elevator');
      });

      laydate.render({
          elem: '#id_serdate',
          trigger: 'click',
          value: sd + ' - ' + md,
          range: true
      });

      table.render({
          elem: '#datasource',
          height: 'full-120',
          url: "{% url 'elevator:get_datasource' %}",
          cols: [[
              {title: '#', show: 2, width: '5%', collapse: true, children:[
                      {
                          title: '设备实时运行状况'
                          ,url: function (row) {
                              return "{% url 'elevator:get_run_datasource' %}?boxid="+row.hoist_box_id
                          }
                          ,height: 270
                          ,page: false
                          ,cols: [[
                              {field: 'door_lock_state', title: '门锁状态', width: '25%', sort: true, filter: true, templet: '<div>{% verbatim %}{{door_state(d.door_lock_state)}}{% endverbatim %}</div>'},
                              {field: 'driver_identification_state', title: '驾驶员身份认证结果', width: '20%', sort: true, filter: true, templet: '#tpIdent'},
                              {field: 'height_percentage', title: '上升高度(米)', width: '15%', sort: true, filter: true},
                              {field: 'hoist_alarm_reason', title: '报警原因', width: '15%', sort: true, filter: true, templet: '#tpAlarm'},
                              {field: 'hoist_level', title: '安全级别', width: '15%', sort: true, filter: true, templet: '#tpLevel'},
                              {field: 'hoist_time', title: '运行状态上报时间', width: '20%', sort: true, filter: true, templet: "<div>{% verbatim %}{{layui.util.toDateString(d.hoist_time, 'yyyy-MM-dd HH:mm:ss')}}{% endverbatim %}</div>"},
                              {field: 'real_time_or_alarm', title: '测量类型', width: '15%', sort: true, filter: true, templet: '#tpType'},
                              {field: 'real_time_gradient1', title: '倾斜角度1(度)', width: '15%', sort: true, filter: true},
                              {field: 'real_time_gradient2', title: '倾斜角度2(度)', width: '15%', sort: true, filter: true},
                              {field: 'real_time_height', title: '实时高度', width: '15%', sort: true, filter: true},
                              {field: 'real_time_lifting_weight', title: '实时起重量', width: '15%', sort: true, filter: true},
                              {field: 'real_time_height', title: '实时高度', width: '15%', sort: true, filter: true},
                              {field: 'real_time_speed', title: '实时速度', width: '15%', sort: true, filter: true},
                              {field: 'real_time_speed_direction', title: '运行方向', width: '15%', sort: true, filter: true, templet: '#tpDir'},
                              {field: 'tilt_percentage1', title: '倾斜百分比1', width: '15%', sort: true, filter: true},
                              {field: 'tilt_percentage2', title: '倾斜百分比2', width: '15%', sort: true, filter: true},
                              {field: 'weight_percentage', title: '重量百分比', width: '15%', sort: true, filter: true},
                          ]]
                          ,done: function () {
                              soulTable.render(this);
                          }
                      },
              ]},

              {field:'cage_id', width: '10%', title: '吊笼编号', sort: true, filter: true},
              {field:'hoist_box_id', width: '20%', title: '黑匣子编号', sort: true, filter: true},
              {field:'maximum_carrying_number', width: '20%', title: '最大承载人数', sort: true, filter: true},
              {field:'maximum_elevating_capacity_alarm', width: '20%', title: '最大起重报警', sort: true, filter: true},
              {field:'maximum_elevating_capacity_warning', width: '20%', title: '最大起重预警', sort: true, filter: true},
              {field:'maximum_rise_height', width: '20%', title: '最大起升高度', sort: true, filter: true},

              {field:'maximum_speed_alarm', width: '20%', title: '最大速度报警', sort: true, filter: true},
              {field:'maximum_speed_warning', width: '20%', title: '最大速度预警', sort: true, filter: true},
              {field:'tilt_alarm', width: '20%', title: '倾斜报警值', sort: true, filter: true},
              {field:'tilt_warning', width: '20%', title: '倾斜预警值', sort: true, filter: true},
              {field:'weight_load_actual', width: '20%', title: '重量负载值', sort: true, filter: true},
              {field:'weight_noload_actual', width: '20%', title: '重量空载值', sort: true, filter: true},

          ]],
          id: 'runreload'

          ,done: function () {
              soulTable.render(this)
          }
      });

      //监听查询条件提交
        form.on('submit(formsubmit)', function (data) {
            var serinput = $("input[name='serinput']").val();
            var serdate = $("#id_serdate").val();
            //alert(ddate);
            table.reload('runreload', {where: {resultdict:{DevKey: serinput, DevDate: serdate}}});

            return false;
        });


  });
</script>

  <script type="text/javascript">
      function door_state (num) {

            num2 = num.toString(2);
            a = digit(num2, 3);
            //alert(a);
            b = "";
            for (i=0; i < a.length; i++) {
                s = a.substring(a.length-i-1, a.length-i);

                if (s == 0) {
                    st = "关闭"
                } else if (s == 1) {
                    st = "开启"
                }


                switch (i) {
                    case 0:
                        b = b + "前门" + st +",";
                        break;

                    case 1:
                        b = b + "后门" + st +", ";
                        break;

                    case 2:
                        b = b + "门锁" + st;
                }
            }

            return b;

      }

  </script>






  <!--显示设备状态模板-->
  <script type="text/html" id="tpIdent">
      {% verbatim %}
      {{#  if(d.driver_identification_state == 0){ }}
      <span style="color: red">认证未通过</span>
      {{#  } else if(d.driver_identification_state == 1) { }}
      <span style="color: green">认证通过</span>
      {{#  } }}
      {% endverbatim %}
  </script>

  <script type="text/html" id="tpAlarm">
      {% verbatim %}
      {{#  if(d.hoist_alarm_reason == 0){ }}
      <span>正常</span>
      {{#  } else if(d.hoist_alarm_reason == 1) { }}
      <span>超重</span>
      {{#  } else if(d.hoist_alarm_reason == 2) { }}
      <span>冲顶</span>
      {{#  } else if(d.hoist_alarm_reason == 3) { }}
      <span>超载</span>
      {{#  } else if(d.hoist_alarm_reason == 4) { }}
      <span>倾斜</span>
      {{#  } else { }}
      <span>正常</span>
      {{#  } }}
      {% endverbatim %}
  </script>

  <!--显示设备类型模板-->
  <script type="text/html" id="tpLevel">
      {% verbatim %}
      {{#  if(d.hoist_level == 0){ }}
      <span style="color: green">正常</span>
      {{#  } else if(d.hoist_level == 1) { }}
      <span style="color: orangered">预警</span>
      {{#  } else if(d.hoist_level == 2) { }}
      <span style="color: red">报警</span>
      {{#  } else { }}
      <span style="color: green">正常</span>
      {{#  } }}
      {% endverbatim %}
  </script>

  <!--显示节点一报警状态-->
  <script type="text/html" id="tpType">
      {% verbatim %}
      {{#  if(d.real_time_or_alarm == 0){ }}
      <span>实时值</span>
      {{#  } else if(d.real_time_or_alarm == 1) { }}
      <span>报警值</span>
      {{#  } }}
      {% endverbatim %}
  </script>

  <!--显示节点一报警状态-->
  <script type="text/html" id="tpDir">
      {% verbatim %}
      {{#  if(d.real_time_speed_direction == 0){ }}
      <span>停止</span>
      {{#  } else if(d.real_time_speed_direction == 2) { }}
      <span>上行</span>
      {{#  } else if(d.real_time_speed_direction == 1) { }}
      <span>下行</span>
      {{#  } }}
      {% endverbatim %}
  </script>

</body>
</html>