<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body>

  <!--可视化-->

<div style="padding: 20px; background-color: #F2F2F2; overflow-y: scroll; height: max-content">


    <div class="layui-collapse">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">升降机设备信息概要</h2>
            <div class="layui-colla-content layui-show">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md3">
                        <div class="layui-card animated flipInX" style="background-color: #3498db; height: 90px; padding: 5px">
                            <h3>
                            <span style="color: white">&nbsp;&nbsp;
                                <img src="/static/images/dticon.png" height="24" width="24" />  接入升降机总数
                            </span>
                            </h3>

                            <br/>

                            <div style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">
                                2<span style="font-size: 15px; color: white"> 台</span>
                            </div>
                            <br/>
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-card animated flipInX" style="background-color: #27ae60; height: 90px; padding: 5px">
                            <h3>
                            <span style="color: white">&nbsp;&nbsp;
                                <img src="/static/images/lianwang.png" height="24" width="24" />  在线监控终端总数
                            </span>
                            </h3>

                            <br/>

                            <div id="onlinebox" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">
                                --<span style="font-size: 15px; color: white"> 台</span>
                            </div>
                            <br/>
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-card animated flipInX" style="background-color: #e74c3c; height: 90px; padding: 5px">
                            <h3>
                            <span style="color: white">&nbsp;&nbsp;
                                <img src="/static/images/lixian.png" height="24" width="24" />  离线监控终端总数
                            </span>
                            </h3>

                            <br/>

                            <div id="offlinebox" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">
                                --<span style="font-size: 15px; color: white"> 台</span>
                            </div>
                            <br/>
                        </div>
                    </div>

                    <div class="layui-col-md3">
                        <div class="layui-card animated flipInX" style="background-color: #9b59b6; height: 90px; padding: 5px">
                            <h3>
                            <span style="color: white">&nbsp;&nbsp;
                                <img src="/static/images/baojing.png" height="24" width="24" />  报警监控终端总数
                            </span>
                            </h3>

                            <br/>

                            <div id="alarmbox" style="font-size: 40px; color:#bdc3c7; padding-left: 10%;">
                                --<span style="font-size: 15px; color: white"> 台</span>
                            </div>
                            <br/>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-colla-item">
            <h2 class="layui-colla-title">升降机实时状态一览</h2>
            <div class="layui-colla-content layui-show">
                <div id="elevatorlist">
                </div>
            </div>
        </div>

    </div>

</div>

{% include "common/jsfiles.html" %}

<script type="text/javascript">

layui.use(['element', 'layer', 'table'], function(){
    var $ = layui.jquery
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer;

    var showlist = function () {
        $.ajax({
            type: 'POST',
            url: "{% url 'elevator:get_datasource' %}",
            data: {"prj_id": "{{ request.session.PrjID }}"},
            datatype: "json",
            success: function (data) {
                resultj = JSON.parse(data);

                var str = '';
                var j = 0;
                var k = 0;
                for (i in resultj) {
                    str = str + "<div class='layui-inline' style='margin-left: 30px; margin-top: 30px'>";
                    if (resultj[i].real_time_speed_direction == 0) {
                        str = str + "<img src='/static/images/dianti.png' name='dtDev' height='96' width='96'>";
                    } else if (resultj[i].real_time_speed_direction == 1) {
                        str = str + "<img src='/static/images/dianti_down.png' name='dtDev' height='96' width='96'>";
                    } else if (resultj[i].real_time_speed_direction == 2) {
                        str = str + "<img src='/static/images/dianti_up.png' name='dtDev' height='96' width='96'>";
                    } else if (resultj[i].real_time_speed_direction == 3) {
                        str = str + "<img src='/static/images/dianti_disable.png' name='dtDev' height='96' width='96'>";
                    }



                    str = str + "<div class='layui-inline layui-card' style='width: 280px; height: 250px; margin-left: 10px; margin-top: 5px'>";
                    if (resultj[i].status == 0) {
                        str = str + "<div class='layui-card-header'><span style='color: red'>电梯实时运行状态[离线]</span></div>";
                    } else {
                        str = str + "<div class='layui-card-header'><span style='color: green'>电梯实时运行状态[在线]</span></div>";
                        j += 1;
                    }

                    str = str + "<div class='layui-card-body'>";
                    str = str + "<div style='height: 50px;'>";
                    if (resultj[i].driver_identification_state == 0) {
                        str = str + "<span>驾驶员身份认证: </span><span style='color: red'>未认证</span>";
                    } else if (resultj[i].driver_identification_state == '--') {
                        str = str + "<span>驾驶员身份认证: --</span>";
                    } else {
                        str = str + "<span>驾驶员身份认证: </span><span style='color: green'>认证通过</span>";
                    }
                    str = str + "</br>";
                    str = str + "<span>实时高度: </span>" + resultj[i].real_time_height + "米&nbsp;&nbsp;<span>[" + resultj[i].height_percentage + "%]</span>";
                    str = str + "</br>";
                    str = str + "<span>实时重量: </span>" + resultj[i].real_time_lifting_weight * 1000 + "公斤&nbsp;&nbsp;<span>[" + resultj[i].weight_percentage + "%]</span>";

                    str = str + "</br>";
                    str = str + "<span>倾斜角度: </span>" + resultj[i].real_time_gradient1 + "度&nbsp;&nbsp;<span>[" + resultj[i].tilt_percentage1 + "%]</span>";
                    str = str + "</br>";
                    str = str + "<span>实时速度: </span>" + resultj[i].wind_speed + "米/秒&nbsp;&nbsp;<span>";

                    str = str + "</br>";
                    if (resultj[i].status == 1) {
                        str = str + "<span>门锁状态: </span>" + door_state(resultj[i].door_lock_state);

                    } else {
                        str = str + "<span>门锁状态: --</span>";
                    }

                    str = str + "</br>";
                    str = str + "<span>安全员: </span>" + resultj[i].elevator_manager + "&nbsp;&nbsp;<span>[电话: " + resultj[i].elevator_mgrtel + "]</span>";

                    str = str + "</br>";
                    str = str + "<span>操作员: </span>" + resultj[i].elevator_oper + "&nbsp;&nbsp;<span>[电话: " + resultj[i].elevator_opertel + "]</span>";


                    if (resultj[i].real_time_or_alarm == 0) {
                        k += 1;
                    }

                    str = str + "</div>";
                    str = str + "</div>";
                    str = str + "</div>";
                    str = str + "</div>";

                    //alert(resultj[i].driver_identification_state);


                    $("#elevatorlist").html(str);

                }
                $("#onlinebox").html(j+"<span style='font-size: 15px; color: white'> 台</span>");
                $("#offlinebox").html(i-j+1+"<span style='font-size: 15px; color: white'> 台</span>");
                $("#alarmbox").html(k+"<span style='font-size: 15px; color: white'> 台</span>");


            }
        });
    };


    function door_state (num) {

        num2 = num.toString(2);
        a = digit(num2, 3);
        //alert(a);
        b = "";
        for (index_i=0; index_i < a.length; index_i++) {
            s = a.substring(a.length-index_i-1, a.length-index_i);

            if (index_i == 2) {
                if (s == 0) {
                    st = "正常"
                } else if (s == 1) {
                    st = "异常"
                }
            } else {
                if (s == 0) {
                    st = "关闭"
                } else if (s == 1) {
                    st = "开启"
                }
            }

            switch (index_i) {
                case 0:
                    b = b + "前门" + st +",";
                    break;

                case 1:
                    b = b + "后门" + st +", ";
                    break;

                case 2:
                    b = b + "门锁" + st;
            }
        }

        return b;

    }

    function system_state(num) {
        for (i=0; i < num.length; i=i+2) {
            s = num.substring(num.length-i-2, num.length-i);
        }
        return i;
    }


    showlist();

    time = setInterval(showlist, 1500);
});

</script>



</body>
</html>