<!DOCTYPE html>
<html>
<head>
    {% include "common/resfiles.html" %}
</head>
<body style="overflow: hidden;">

  <!--设备管理信息列表  -->

    <!-- 工具条 -->
      <!-- 查询框 -->
      <div class="layui-collapse">
          <div class="layui-colla-item">
              <h2 class="layui-colla-title">查询条件</h2>
              <div class="layui-colla-content">
                  <form class="layui-form" method="post">
                      <div class="layui-inline">
                          <input type="text" name="serinput" placeholder="输入接口名称" autocomplete="off" class="layui-input" value="" style="width: 120%">
                      </div>

                      <div class="layui-inline" style="margin-left: 35px">
                          <input type="button" class="layui-btn layui-btn-small layui-btn-normal layui-icon" lay-submit lay-filter="formsubmit" value="&#xe615;查  询"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>

      <div style="padding-top: 10px" >
          <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnAdd">增加</a>
          <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnTest">测试开始</a>
          <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnTestStop">测试停止</a>
          <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnClose">关闭</a>
      </div>

      <!-- 数据列表 -->

      <table class="layui-table" id="datasource" lay-filter="toolbar"></table>

{% include "common/jsfiles.html" %}

<script>
  var Deviceinfo = {{ deviceinfo|safe }};
  var InterfaceType = {{ interfacetypeinfo|safe }};
  var ident = 0;

  layui.use(['element', 'layer', 'table'], function(){
      var $ = layui.jquery
          ,element = layui.element
          ,table = layui.table
          ,layer = layui.layer;

      $("#btnClose").click(function () {
          window.parent.layui.element.tabDelete('tabMain','Interface');
      });

      //新增按钮事件
      $("#btnAdd").click(function () {
          parent.layer.open({
              type:   2,
              title:  '新增接口',
              area: ['920px','470px'],
              fixed: false,
              content: "{% url 'devinterface:add' %}",
              resize: false,
              move: false
          });
      });

      $("#btnTest").click(function () {
          $.ajax({
              type: "POST",
              url: "http://127.0.0.1:8000/ismsapi/get_env_realdata/",
              contentType: "application/x-www-form-urlencoded",
              data: {"appkey": "JDNkYn4pUa", "token": "MTU3NDg2MjE2Mi40MjY4NDQ6ODc1OWExYjFlZmQ4YmRiM2M3ZTdiMzE1ZTFkYWZiZDBmZGFjZGNmYQ==", "prjid":"09dc5718-a079-11e9-b707-7831c1d24216"},
              datatype: "json",
              success: function (data) {
                  alert(data.data0.length);
              }
          });
      });


      table.render({
          method: 'post',
          height: 'full-120',
          page: true,
          limit: 20,
          elem: '#datasource',
          url: "{% url 'devinterface:get_datasource' %}",
          cols: [[
              {field:'FName', width: '20%', title: '接口名称', sort: true},
              {field:'FInterfaceTypeID', width: '15%', title: '接口方式', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FInterfaceTypeID, InterfaceType)}}{% endverbatim %}</div>'},
              {field:'FAddress', width: '30%', title: '接口地址', sort: true},
              {field:'FPort', width: '10%', title: '使用端口', sort: true},
              {field:'FTransmode', width: '15%', title: '传输方式', sort: true, templet: '#tpTransmode'},
              {field:'FDesc', width: '25%', title: '接口描述', sort: true},
              {field:'FStatus', width: '15%', title: '状态', sort: true, templet: '#tpStatus'},
              {field:'', title: '操作', width: '25%', toolbar: '#tlbar', fixed: 'right'}
          ]],
          id: 'runreload'
      });

      //监听查询条件提交
        form.on('submit(formsubmit)', function (data) {
            var serinput = $("input[name='serinput']").val();
            //alert(serinput);
            table.reload('runreload', {where: {resultdict:{FName: serinput}}});

            return false;
        });


      //监听工具栏按钮事件
      table.on('tool(toolbar)', function (obj) {
          var data = obj.data;           //获取当前行数据
          var layEvent = obj.event;      //获取当前行事件
          var tr = obj.tr;               //获取当前行tr的DOM数据
          var fid = {"fid":data.FID};
          var x = this;

          switch (layEvent){
              case 'edit' :              //编辑按钮事件
                  parent.layer.open({
                      type:   2,
                      title:  '编辑接口',
                      area: ['920px','530px'],
                      fixed: false,
                      content: "{% url 'devinterface:edit' %}?fid="+data.FID,
                      resize: false,
                      move: false
                  });

                  break;


              case 'addparam' :              //添加参数按钮事件
                  parent.layer.open({
                      type:   2,
                      title:  '添加接口参数',
                      area: ['920px','505px'],
                      fixed: false,
                      content: "{% url 'devinterface:addparam' %}?fid="+data.FID,
                      resize: false,
                      move: false
                  });

                  break;

              case 'startsrv':               //启动服务按钮事件
                  if (data.FInterfaceTypeID != '787aacd20f5b11eab439acde48001122') {
                      parent.layer.alert('此接口不是服务类接口,无法启动',{skin: 'layui-layer-lan', closeBtn: 0, anim: 0});
                  } else {
                      if (data.FSrvFile == '' || data.FSrvFile == null) {
                          parent.layer.alert('服务名称为空,无法启动',{skin: 'layui-layer-lan', closeBtn: 0, anim: 0});
                      } else {
                          $.ajax({
                              type: 'POST',
                              url: "{% url 'devinterfacesrv:devservice' %}",
                              data: {"mode": "1", "fid": data.FID},
                              datatype: "json",
                              timeout: 10000,
                              beforeSend: function(XMLHttpRequest){
                                  if(layEvent === 'startsrv') {
                                      $(x).text("服务启动中");
                                  }
                              },
                              success: function (data) {

                                  //result = JSON.parse(data);
                                  //ident = result.ident
                              },
                              complete: function (XMLHttpRequest, textStatus) {
                                   //alert("tststs");
                                  table.reload('runreload', {where: {resultdict:{FName: serinput}}});
                              }

                          });
                      }
                  }

                  break;

              case 'disabled' :               //禁用按钮事件
                  parent.layer.open({
                      content: '是否确定禁用该接口',
                      btn: ['确定','取消'],
                      yes: function (index) {
                          $.post("{% url 'devinterface:disabled' %}?type=lock", fid, function (data) {
                              if (data.result=='0') {
                                  //window.parent.document.getElementById('Project').contentWindow.location.reload();
                                  table.reload('runreload', {where: {resultdict:{FName: ''}}});
                              } else if (data.result=='2') {
                                  parent.layer.alert('接口禁用失败',{skin: 'layui-layer-lan', closeBtn: 0, anim: 0});
                              }

                          },"json");

                          parent.layer.close(index);
                      },
                      btn2: function (index) {
                      }
                  });

                  break;

              case 'enabled' :
                  parent.layer.open({
                      content: '是否确定启用该接口',
                      btn: ['确定','取消'],
                      yes: function (index) {
                          $.post("{% url 'devinterface:disabled' %}?type=unlock", fid, function (data) {
                              if (data.result=='0') {
                                  table.reload('runreload', {where: {resultdict:{FName: ''}}});
                              } else if (data.result=='2') {
                                  parent.layer.alert('接口启用失败',{skin: 'layui-layer-lan', closeBtn: 0, anim: 0});
                              }

                          },"json");

                          parent.layer.close(index);
                      },
                      btn2: function (index) {
                      }
                  });


                  break;

          }
      });
  });
</script>

<!--显示启用状态模板-->
<script type="text/html" id="tpStatus">
      {% verbatim %}
        {{#  if(d.FStatus == false){ }}
            <span style="color: red">禁用</span>
        {{#  } else if(d.FStatus == true) { }}
            <span style="color: green">启用</span>
        {{#  } }}
      {% endverbatim %}
</script>

  <!--显示传输方式模板-->
  <script type="text/html" id="tpTransmode">
      {% verbatim %}
        {{#  if(d.FTransmode == 0){ }}
            <span>实时</span>
        {{#  } else if(d.FTransmode == 1) { }}
            <span>间隔</span>
        {{#  } }}
      {% endverbatim %}
  </script>



<!--生成操作工具栏-->
<script type="text/html" id="tlbar">
    {% verbatim %}
        <div class="layui-btn-group">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="iconfont icon-bianji"></i>编辑</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="addparam"><i class="fa fa-plug" aria-hidden="true"></i>添加接口参数</a>

            {{# if(d.FSrvStatus == true){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="stopsrv"><i class="fa fa-stop-circle-o" aria-hidden="true"></i>停止服务</a>
            {{# } else if(d.FStatus == false){ }}
            <a class="layui-btn layui-btn-xs" id="id_startsrv" lay-event="startsrv"><i class="fa fa-play-circle-o" aria-hidden="true"></i>启动服务</a>
            {{# } else { }}
            <a class="layui-btn layui-btn-xs" id="id_startsrv" lay-event="startsrv"><i class="fa fa-play-circle-o" aria-hidden="true"></i>启动服务</a>
            {{# } }}

            {{# if(d.FStatus == true){ }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disabled"><i class="iconfont icon-ccgl-yuliuyusuoding-6"></i>禁用</a>
            {{# } else if(d.FStatus == false){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="enabled"><i class="iconfont icon-ccgl-yuliuyusuoding-6"></i>启用</a>
            {{# } else { }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disabled"><i class="iconfont icon-ccgl-yuliuyusuoding-6"></i>禁用</a>
            {{# } }}

        </div>
    {% endverbatim %}
</script>

</body>
</html>