<!DOCTYPE html>
<html>
<head>
  {% include "common/resfiles.html" %}
</head>
<body>

<form class="layui-form layui-form-pane" accept-charset="utf-8">
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div>
            <a href="javascript:;" class="layui-btn layui-btn-normal" id="readcard">读卡序列号</a>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formsubmit" >制卡</button>
            <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnC">关闭</a>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">制卡信息登记</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">人员名称</label>
                                <div class="layui-input-block">
                                    {{ obj.FID }}

                                    <input type="text" class="layui-input" name="FPersonnel" id="id_FPersonnel" value="{{ person }}" readonly="true">
                                </div>
                            </div>

                            <div class="layui-col-xs8">
                                <label class="layui-form-label" style="color: red">IC卡卡号</label>
                                <div class="layui-input-block">
                                    {{ obj.FFeaturevalue }}
                                </div>
                            </div>

                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">授权类型</label>
                                <div class="layui-input-block">
                                    {{ obj.FAuthtypeID }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">授权有效期</label>
                                <div class="layui-input-block">
                                    {{ obj.FAuthvalidity }}
                                </div>
                            </div>

                            <div class="layui-col-xs4">
                                <label class="layui-form-label">授权时间段</label>
                                <div class="layui-input-block">
                                    {{ obj.FAuthtimequm }}
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-xs4">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-block">
                                    {{ obj.FStatus }}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">已授权通行证列表</div>
                    <div class="layui-card-body">
                        <table class="layui-table" id="datasource" lay-filter="toolbar"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>

<!-- <script src="//res.layui.com/layui/build/layui.js" charset="utf-8"></script> -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
{% include "common/jsfiles.html" %}

<style>
    .layui-unselect dl { max-height:150px; }
</style>


<script>
var Passcheck = {{ passcheck|safe }}

layui.use(['element','layer','form', 'laydate', 'table'], function () {
    var element = layui.element
        , layer = layui.layer
        , form = layui.form
        , laydate = layui.laydate
        , table = layui.table;

    //关闭按钮
    $("#btnC").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
        parent.layer.close(index);
    });

    laydate.render({
        elem: '#id_FAuthvalidity',
        trigger: 'click',
        type: 'datetime'
    });

    $("#id_FAuthtypeID").val('65c7cfb2acf411e991437831c1d24216');
    form.render('select');

    table.render({
        page: true,
        limit: 20,
        elem: '#datasource',
        url: "{% url 'personauth:get_datasource' %}?personID={{ personID }}",
        cols: [[
            {field:'FAuthtypeID', width: '20%', title: '已授权通行证', sort: true, templet: '<div>{% verbatim %}{{sotitle(d.FAuthtypeID, Passcheck)}}{% endverbatim %}</div>'},
            {field:'FFeaturevalue', width: '20%', title: '特征值', sort: true},
            {field:'FAuthvalidity', width: '20%', title: '授权有效期', sort: true},
            {field:'FAuthtimequm', width: '15%', title: '授权时间段', sort: true},
            {field:'FStatus', width: '15%', title: '状态', sort: true, templet: '#tpStatus'},
            {field:'', title: '操作', width: '15%', toolbar: '#tlbar', fixed: 'right'}
        ]],
        id: 'runreload'
    });

    //监听窗口提交
    form.on('submit(formsubmit)', function (data) {
        var areaid = {{ areainfo|safe }};
        var areainfo = JSON.stringify(areaid);
        //alert(areainfo);

        $.ajax({
            type: "POST",
            url:  "{% url 'personauth:makeiccard' %}?personID={{ personID }}&authtype={{ authtype }}&actype=insert&areainfo="+encodeURIComponent(areainfo),
            data: data.field,
            dataType: "json",
            success: function (data) {
                if (data.result=='0') {
                    var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
                    parent.layer.close(index);
                } else if (data.result=='1'){
                    for (item in data["msg"]){
                        if (data["msg"][item]){
                            layer.tips(data["msg"][item], $("input[name='"+item+"']"));
                        }
                    }
                } else if (data.result=='2') {
                    layer.alert('无效的执行方法');
                }
            }
        });
        return false;
    });
})
</script>

<!--显示启用状态模板-->
<script type="text/html" id="tpStatus">
    {% verbatim %}
    {{#  if(d.FStatus == 0){ }}
    <span style="color: green">生效</span>
    {{#  } else if(d.FStatus == 1) { }}
    <span style="color: orangered">失效</span>
    {{#  } else if(d.FStatus == 2) { }}
    <span style="color: red">退卡</span>
    {{#  } }}
    {% endverbatim %}
</script>

<!--生成操作工具栏-->
<script type="text/html" id="tlbar">
    {% verbatim %}
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="iconfont icon-bianji"></i>退卡</a>

    </div>
    {% endverbatim %}
</script>

</body>
</html>
