<!DOCTYPE html>
<html>
<head>
  {% include "common/resfiles.html" %}
</head>
<body>

<form class="layui-form layui-form-pane" accept-charset="utf-8">
    <div style="padding: 10px; background-color: #F2F2F2;">
        <div>
            <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnAuth">授权</a>
            <a href="javascript:;" class="layui-btn layui-btn-danger" id="btnC">关闭</a>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">授权区域</div>
                    <div class="layui-card-body">
                        <div id="arealist" class="demo-transfer"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row layui-col-space10" style="padding-top: 1%">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">授权方式</div>
                    <!-- 表单内容 -->
                    <div class="layui-card-body">
                        <div style="padding: 10px; background-color: #F2F2F2">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-xs3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">IC 卡</div>
                                        <div class="layui-card-body">
                                            <img src="/static/images/hr/iccard.png" width="128px" height="128px" alt="">&nbsp;&nbsp;
                                            <a href="javascript:;" class="layui-btn layui-btn-normal" id="btnMakeIC">制卡</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-xs3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">RFID 卡</div>
                                        <div class="layui-card-body">
                                            <img src="/static/images/hr/iccard.png" width="128px" height="128px" alt="">&nbsp;&nbsp;
                                            <a href="javascript:;" class="layui-btn layui-btn-normal" id="test">制卡</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-xs3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">人脸</div>
                                        <div class="layui-card-body">
                                            <img src="/static/images/hr/face.png" width="128px" height="128px" alt="">&nbsp;&nbsp;
                                            <a href="javascript:;" class="layui-btn layui-btn-normal" id="">采集</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-col-xs3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">身份证</div>
                                        <div class="layui-card-body">
                                            <img src="/static/images/hr/idcard.png" width="128px" height="128px" alt="">&nbsp;&nbsp;
                                            <a href="javascript:;" class="layui-btn layui-btn-normal" id="">开启</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-xs3">
                                    <div class="layui-card">
                                        <div class="layui-card-header">定位设备</div>
                                        <div class="layui-card-body">
                                            <img src="/static/images/hr/gps.png" width="128px" height="128px" alt="">&nbsp;&nbsp;
                                            <a href="javascript:;" class="layui-btn layui-btn-normal" id="">发放</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- <script src="//res.layui.com/layui/build/layui.js" charset="utf-8"></script> -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
{% include "common/jsfiles.html" %}

<script>
var areaData = {{ resultdict|safe }};
var authList = {{ authList|safe }}

layui.use(['transfer', 'layer', 'util'], function(){
    var $ = layui.$
    ,transfer = layui.transfer
    ,layer = layui.layer
    ,util = layui.util ;

    //alert(authList);

    //渲染区域列表穿梭框
    transfer.render({
        elem: '#arealist'
        , title: ['区域列表', '授权区域']
        , data: areaData
        , id: 'areaauth'
        , value: authList
    });

    //关闭按钮
    $("#btnC").click(function () {
        var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
        parent.layer.close(index);
    });

    //授权按钮
    $("#btnAuth").click(function () {
        var getChoicesArea = transfer.getData('areaauth');

        var dataid = {'areafid': JSON.stringify(getChoicesArea), 'fid': '{{ fid }}', 'authtype': '{{ authtype }}'};

        $.post("{% url 'personauth:auth' %}", dataid, function(data){
            if (data.result=='0') {
                var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
                parent.layer.close(index);
            } else {
                parent.layer.alert('授权失败',{skin: 'layui-layer-lan', closeBtn: 0, anim: 0});
            }

        }, "json");

        //alert(JSON.stringify(getChoicesArea));
    });

    //IC卡制卡按钮
    $("#btnMakeIC").click(function () {
        var getChoicesArea = transfer.getData('areaauth');
        areainfo = JSON.stringify(getChoicesArea);
        //alert(areainfo);

        url = "{% url 'personauth:makeiccard_add' %}?fid={{ fid }}&areainfo="+encodeURIComponent(areainfo);

        parent.layer.open({
            type:   2,
            title:  'IC卡授权',
            area: ['900px','450px'],
            fixed: false,
            content: url,
            resize: false,
            move: false
        });

    });


    $("#test").click(function () {
        alert("test");
        $.ajax({
            type: "POST",
            url:  "{% url 'ismsapi:get_token' %}",
            contentType: "application/x-www-form-urlencoded",
            data: {"appkey": "JDNkYn4pUa", "md5": "c24605879b0d5e89cbdd1ec08bed8098"},
            dataType: "json",
            success: function (data) {
                if (data.result=='0') {
                    //var index = parent.layer.getFrameIndex(window.name); //得到弹层页面的index
                    //parent.layer.close(index);
                    alert(data.result);
                } else if (data.result=='1'){
                    alert(data.result);
                } else if (data.result=='2') {
                    layer.alert('无效的执行方法');
                }
            }
        });


    });


    util.fixbar({
        bgcolor: '#01AAED'
    });

});

</script>


</body>
</html>
